<% include ../partials/header.ejs%>
<form action="/auth/forgot-password" method="POST">
  email:
  <input name="email" id="" class="btn btn-primary" type="email" value="" />
  <button>Submit</button>
</form>
<% include ../partials/footer.ejs%>
