<% include ../partials/header.ejs%>
<form action="/auth/phone-login" method="POST">
  <label>Phone</label>
  <input name="number"  type="tel" value="" />
  <button>Submit</button>
</form>
<% include ../partials/footer.ejs%>
