<% include ../partials/header.ejs%>

<div>
            <div class="upperContainerlogin">
                    <div class="container">
                        <div class="signImage">
                            <img src="/images/demo1.jpeg" alt="">
                        </div>
                        <div class="sideLogin">
                               <form action="/auth/reset/<%=token%>?_method=PUT" method="POST">
                                    <div class="login">
                                            <h3><b>New Password</b></h3>
                                            <div class="upperLogin cngpass">
                                                <div class="password in">
                                                    <i class="fas fa-key i"></i>
                                                    <input type="text" 
                                                    placeholder="Password" name="newPassword">
                                                </div>
                                                <div class="password in">
                                                    <i class="fas fa-key i"></i>
                                                    <input type="password" name="confirmPassword" id="" placeholder="Confirm Password">
                                                    <i class="fas fa-eye" onclick="showpassword(this)" style="margin: auto;"></i>
                                                </div>
                                            </div>
                                            <div class="mostLowerLogin">
                                                <button class="nextOtp"><b>submit</b></button>
                                            </div>
                                </div>
                               </form>
                        </div>
                    </div>
            </div>
    </div>


<% include ../partials/footer.ejs%>
