<% include ../adminPartials/header.ejs%>

<!-----==============================side bar ===========================================-->

<nav class="vertical_nav">
  <ul id="js-menu" class="menu">
    <li class="menu--item" style="text-align: center;padding-bottom: 10px;">
      <img src="/images/logo.png" width="60%;" />
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/benefits"
        class="active menu--link tablinks1"
        title="Reviews"
        style="text-decoration: none;"
      >
        <i class="fas fa-gifts "></i>
        <span class="top">Benefits</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/coupon"
        class=" menu--link tablinks1"
        title="Customer coupon list"
        style="text-decoration: none;"
      >
        <i class="fas fa-tags"></i>
        <span class="top">Deal Requests</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/couponType"
        class=" menu--link tablinks1"
        title="Customer coupon list"
        style="text-decoration: none;"
      >
        <i class="fas fa-tags"></i>
        <span class="top">HappyDeal Type</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/couponList"
        class=" menu--link tablinks1"
        title="Customer coupon list"
        style="text-decoration: none;"
      >
        <i class="fas fa-tags"></i>
        <span class="top">HappyDeal List</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/merchant"
        class="menu--link tablinks1"
        title="create coupon"
        style="text-decoration: none;"
      >
        <i class="fas fa-store"></i>
        <span class="top">Merchants</span>
      </a>
    </li>

    <li class="menu--item">
      <a
        href="/adminDashboard/customer"
        class="menu--link tablinks1"
        title="Your profile"
        style="text-decoration: none;"
      >
        <i class="fas fa-user-circle"></i>
        <span class="top">Customers</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/analytics"
        class="menu--link tablinks1"
        title="analytics"
        style="text-decoration: none;"
      >
        <i class="fas fa-user-circle"></i>
        <span class="top">Analytics</span>
      </a>
    </li>

    <li class="menu--item">
      <a
        href="/adminDashboard/setting"
        class="menu--link tablinks1"
        title="Reviews"
        style="text-decoration: none;"
      >
        <i class="fas fa-cogs "></i>
        <span class="top">Settings</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/hd"
        class="menu--link tablinks1"
        title="special signup"
        style="text-decoration: none;"
      >
        <i class="fas fa-image "></i>
        <span class="top">HD points</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/specialSignup"
        class=" menu--link tablinks1"
        style="text-decoration: none;"
      >
        <i class="fas fa-image "></i>
        <span class="top">Special signup</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/adminDashboard/gallery"
        class="menu--link tablinks1"
        title="Gallery"
        style="text-decoration: none;"
      >
        <i class="fas fa-image "></i>
        <span class="top">Slider Images</span>
      </a>
    </li>
  </ul>

  <button id="collapse_menu" class="collapse_menu">
    <i class="collapse_menu--icon  fas fa-fw"></i>
    <span class="collapse_menu--label"></span>
  </button>
</nav>

<!-----============================== end side bar ===========================================-->

<!-----==============================  body  ===========================================-->

<!-----============== customer body========================-->

<div class="wrapper" id="main">
  <!-----============== coupon body========================-->
  <section class="tabcontent1" id="reviews">
    <br />
    <div class="tab100">
      <div class="tab122 topnav">
        <button
          class="tablinks2"
          onclick="openCity2(event, 'coupons11')"
          id="defaultOpen2"
          auto
        >
          HD Points
        </button>
        <button
          class="tablinks2"
          onclick="openCity2(event, 'All11')"
          id="defaultOpen2"
          auto
        >
          Refer a friend
        </button>
        <button class="tablinks2" onclick="openCity2(event, 'All11')">
          Membership
        </button>
      </div>
    </div>

    <div id="coupons11" class="tabcontent2">
      <div class="card35">
        <form action="/adminDashboard/benefits?_method=PUT" method="POST">
          <div class=" deals-card ">
            <div class="row point_1">
              <div class="col-md-5">
                <p class="point_">HD points</p>
              </div>
              <div class="col-md-7">
                <div class="form-group2 x1">
                  <input
                    type="number"
                    inputmode="numeric"
                    name="adminHdPoints"
                    value="<%= adminHdPoints%>"
                    id="name"
                    required
                  />
                  <label class="form-control-placeholder" for="name">HD</label>
                </div>
              </div>
            </div>
            <div class="row point_1">
              <div class="col-md-5">
                <p class="point_">On shopping of</p>
              </div>
              <div class="col-md-7">
                <div class="form-group2 x1">
                  <input
                    type="number"
                    inputmode="numeric"
                    name="onShoppingOf"
                    id="name"
                    value="<%= onShoppingOf%>"
                    required
                  />
                  <label class="form-control-placeholder" for="name">₹</label>
                </div>
              </div>
            </div>
            <div class="row point_1">
              <div class="col-md-5">
                <p class="point_">Redem HD points percentage</p>
              </div>
              <div class="col-md-7">
                <div class="form-group2 x1">
                  <input
                    type="number"
                    name="RedeemPercent"
                    min="1"
                    max="99"
                    id="name"
                    inputmode="numeric"
                    value="<%=RedeemPercent %>"
                    required
                  />
                  <label class="form-control-placeholder" for="name">%</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
          </div>
        </form>
      </div>
    </div>
    <div id="All11" class="tabcontent2">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="text-align:center;">
            <br /><br />
            <img class="floppy" src="../img/coming.jpg" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============== end reviews body========================-->
</div>

<!-----============================== end body  ===========================================-->

<!-----============================== js files  ===========================================-->
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<script>
  $(document).ready(function() {
    $('.bar span').hide();
    $('#bar-five').animate(
      {
        width: '75%'
      },
      1000
    );
    $('#bar-four').animate(
      {
        width: '35%'
      },
      1000
    );
    $('#bar-three').animate(
      {
        width: '20%'
      },
      1000
    );
    $('#bar-two').animate(
      {
        width: '15%'
      },
      1000
    );
    $('#bar-one').animate(
      {
        width: '30%'
      },
      1000
    );

    setTimeout(function() {
      $('.bar span').fadeIn('slow');
    }, 1000);
  });
</script>
<!--================== menu icon toogle ==================-->
<script>
  function myFunction(x) {
    x.classList.toggle('fa-times');
  }
</script>

<!--================== side menu active ==================-->
<script>
  $('ul li a').click(function() {
    if ($('ul li a').hasClass('active')) {
      $('ul li a').removeClass('active');
    }

    $(this).addClass('active');
  });
</script>

<!--================== customer search ==================-->
<script>
  $(document).ready(function() {
    $('#myInput').on('keyup', function() {
      var value = $(this)
        .val()
        .toLowerCase();
      $('#myTable tr').filter(function() {
        $(this).toggle(
          $(this)
            .text()
            .toLowerCase()
            .indexOf(value) > -1
        );
      });
    });
  });
</script>

<!--================== coupon search ==================-->
<script>
  $(document).ready(function() {
    $('#myInput1').on('keyup', function() {
      var value = $(this)
        .val()
        .toLowerCase();
      $('#myTable1 tr').filter(function() {
        $(this).toggle(
          $(this)
            .text()
            .toLowerCase()
            .indexOf(value) > -1
        );
      });
    });
  });
</script>

<!--================== side menu toogle ==================-->
<script>
  function openCity1(evt, cityName1) {
    var i, tabcontent1, tablinks1;
    tabcontent1 = document.getElementsByClassName('tabcontent1');
    for (i = 0; i < tabcontent1.length; i++) {
      tabcontent1[i].style.display = 'none';
    }
    tablinks1 = document.getElementsByClassName('tablinks1');
    for (i = 0; i < tablinks1.length; i++) {
      tablinks1[i].className = tablinks1[i].className.replace(' active', '');
    }
    document.getElementById(cityName1).style.display = 'block';
    evt.currentTarget.className1 += ' active';
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById('defaultOpen1').click();
</script>

<!--================== inner customers toogle areas==================-->
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName('tabcontent');
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'none';
    }
    tablinks = document.getElementsByClassName('tablinks');
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(' active', '');
    }
    document.getElementById(cityName).style.display = 'block';
    evt.currentTarget.className += ' active';
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById('defaultOpen').click();
</script>

<script src="vertical-responsive-menu.min.js"></script>

<!--================== inner coupons toogle areas==================-->
<script>
  function openCity2(evt, cityName2) {
    var i, tabcontent2, tablinks2;
    tabcontent2 = document.getElementsByClassName('tabcontent2');
    for (i = 0; i < tabcontent2.length; i++) {
      tabcontent2[i].style.display = 'none';
    }
    tablinks2 = document.getElementsByClassName('tablinks2');
    for (i = 0; i < tablinks2.length; i++) {
      tablinks2[i].className = tablinks2[i].className.replace(' active', '');
    }
    document.getElementById(cityName2).style.display = 'block';
    evt.currentTarget.className += ' active';
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById('defaultOpen2').click();
</script>

<script src="vertical-responsive-menu.min.js"></script>

<% include ../adminPartials/footer.ejs%>
