 <!-- Footer -->
      


    <!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        

      <div class="modal fade" id="exampleModalabout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog width700" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.5rem;color: #217ab3;font-weight: 600;">About Us</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="text-align: center; width: 100%;">
                            <img src="/images/logo.png" width="15%">
                    </div>
                  <ul class="paddingleft20">
                         <br>
                        Fun Deal is a platform for merchants/vendors to directly connect with the mass that encourages the growth of the business. It is Vadodara’s first ever site to link Food and Fashion industry to the public through discounts and deals that promote values as well as a profitable business. Widen the possibilities by registering with us for free of cost. We offer complete transparency with the detailed analysis of crowd-pulling discounts, ratings, reviews, tele caller services and feedbacks. For the Food industry, we encourage such deals that increase footfalls in the restaurant, café or hotels. For the Fashion industry, we look forward to attract customers by giving them deals that are irresistible to pull them towards Fashion boutiques, stores, shops or malls.
                        <br> <br> <br>
                        <b style="color: #217ab3;">MISSION</b> – To provide a robust platform for the merchants to showcase their business and the user to take the advantage & benefits of discounts made available by merchants and recreate the era of instore dining & shopping.
                        <br> <br>
                        <b style="color: #217ab3;">VISION </b> – To become the biggest platform/portal that provides authentic discounts throughout, at the same time be the biggest medium for business development.
                        <br><br><br>
                        <b style="color: #217ab3;">MERCHANT BENEFITS BY Fun Deal COLLABORATION:</b> <br> <br>
                        <ul>
                        <li>Business Development by data analysis.</li>
                        <li>Robust medium to pull the crowd instore.</li>
                        <li>Optimum utilization of instore customer occupancy during the complete work hours.</li>
                        <li>Direct customer interaction.</li>
                        <li>Optimum utilization of deployed manpower instore.</li>
                        <li>A robust medium to introduce new products in the market through Fun Deal.</li>
                        <li>A complete display of merchant profile to showcase their business.</li>
                        <li>Various social media marketing strategies available by Fun Deal for collaborated merchants.</li>
                        <li>Improved business growth rate.</li>
                        <li>A unique and easy way to grow.</li>
                        <li>Encouragement to the crowd to shift to Offline or local shopping and try new businesses around.</li>
                        <li>Strengthening merchant’s niche market.</li>
                        <li>Fun Deal shall be a win win situation for a business to sell and a user to buy products by visiting the business.</li>
                    </ul>
                    </ul> <br> 
                        
                        
                        
                        <b style="color: #217ab3;">CUSTOMER BENEFITS BY Fun Deal DISCOUNT:</b> <br> <br>
                        <ul>
                       <li> The product bought by visiting the store is much more genuine and appreciated by customer than by ordering it online.</li>
                        <li>No cheatings.</li>
                        <li>The ambience of the store is enjoyed by the customer and instills a good user experience.</li>
                        <li>Direct interaction of the vendor and the user.</li>
                        <li>Creates the brand and loyalty between the vendor and customer.</li>
                        <li>Surety of the business to develop because the vendor is right there and then to resolve any issues.</li>
                        <li>Proper and genuine post sales services.</li>
                        <li>Incase of food, food tastes and looks different when served all warm with creativity in the restaurant, that experience is only different than by ordering food at home that comes in plastic cutlery.</li>
                        <li>Instore shopping for clothes gives the opportunity to the customer, to feel the fabric, see the colour, try the size of the garment and then purchase it.</li>
                        <li>Today the so called market or any industry we talk about started off by selling things locally, if this stops then we lose on a lot of manpower as we don’t need people to sell anything, we just need computers to shop.</li>
                        <li>Why not to use these computers & mobiles as medium to locate such local stores & restaurants in our city!!!</li>
                       <li> Many Fashion designers, restaurants having exquisite chefs go unknown as people aren’t visiting their store or restaurants, rather being laid back and ordering stuff at home.</li>
                       <li> Fun Deal wants to be that one platform that caters to the need of just not the users but also the vendors.</li>
                        <li>Fun Deal shall be a win win situation for a business to sell and a user to buy products by visiting the business.</li>
                    </ul>
                    </ul>
                </div>
                  <div class="modal-footer" style="justify-content:flex-start;">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- merchant privacy policy -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog width700" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.5rem;color: #217ab3;font-weight: 600;">Merchant Privacy Policies</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <div class="col-md-12" style="text-align: center; width: 100%;">
                          <img src="/images/logo.png" width="15%">
                  </div>
            <ul class="paddingleft20">
              <b  style="color: #217ab3;">“MERCHANT OFFERING”</b> means the goods and/or services to be provided by the Merchant, stated on the Fun Deal [Fun Deal (voucher)] as presented by Fun Deal. Values determined by Merchant. <br>
              <b  style="color: #217ab3;">“MAXIMUM NUMBER OF Fun Deal (VOUCHER)S”</b> means the maximum number of Fun Deal (voucher)s Fun Deal is authorized to administer the sale of on behalf of the Merchant.<br>
              <b  style="color: #217ab3;">“MONTHLY MAXIMUM NUMBER OF Fun Deal (VOUCHER)S”</b> means the maximum number of Fun Deal (voucher)s Fun Deal is authorized to administer the sale of on behalf of Merchant each month after the Maximum Number of Fun Deal (voucher)s has been sold.<br>
              <b  style="color: #217ab3;">“FULL OFFER VALUE”</b> means the Amount Paid plus the Promotional Value.<br>
              <b  style="color: #217ab3;">“AMOUNT PAID”</b> means the amount a purchaser pays for each Fun Deal (voucher).<br>
              <b  style="color: #217ab3;">“PROMOTIONAL VALUE”</b> means the Full Offer Value less the Amount Paid.<br>
              <b  style="color: #217ab3;">“PROMOTIONAL VALUE EXPIRATION DATE”</b> means the date stated on the Fun Deal (voucher) when the Promotional Value expires.<br>
              <b  style="color: #217ab3;" >“FINE PRINT”</b> means the conditions and restrictions concerning Fun Deal (voucher) redemption and the Merchant Offering stated on the Website and Fun Deal (voucher).<br><br>
              <ol class="paddingleft10">
              <li><b  style="color: #217ab3;">Fun Deal (voucher) Program</b></li><br>
              <ol type="i" class="paddingleft10">
              <li>Fun Deal is authorized to promote and sell Fun Deal (voucher)s on Merchant’s behalf subject to the terms of this Agreement and the “Terms of Sale” of the Website. The Fun Deal (voucher) will evidence the Merchant Offering and will be sent to the purchaser electronically once payment is received. The purchaser will then redeem the Fun Deal (voucher) with the Merchant by presenting the Fun Deal (voucher) in paper or electronic form. Merchant is the issuer of the Fun Deal (voucher)s and seller of the Merchant Offering. If there is a conflict between this Agreement and the Terms of Sale, the Agreement controls.</li>
              <li>Fun Deal is authorized to promote and sell Fun Deal (voucher)s on Merchant’s behalf through any platform, including its feature deal-of-the-day, affiliates, business partner network, marketplace, or referral network. The Fun Deal (voucher)s may be offered to all or part of Fun Deal’s subscriber base or its affiliate subscriber base or referral network and segmented by various variables including gender, age, location, and consumer preferences. The features may be offered through a variety of distribution channels, including, the Internet, the Website, affiliate websites, business partner network, email, mobile applications, other types of electronic offerings and other platforms or distribution channels owned, controlled, or operated by Fun Deal, its affiliates or business partners. In addition, in connection with Fun Deal’s promotion of a Merchant Offering, Merchant authorizes Fun Deal to shorten or extend the Promotional Value Expiration Date.</li>
              <li>For appointment based Merchant Offerings, Fun Deal may require that Merchant provide Fun Deal with a calendar of available appointment times and allow Fun Deal purchasers to schedule appointments with the Merchant through Fun Deal and any third party service Fun Deal may use. Fun Deal may audit Merchant response times using various methods, including but not limited to, auto-dialers, call forwarding and pre-recorded calls. If Fun Deal, in its sole discretion, determines Merchant response times or the quality of service provided to purchasers is unsatisfactory, Fun Deal may terminate the Agreement and return the Amount Paid to purchasers for unredeemed Fun Deal (voucher).</li>
               
              <li>Fun Deal is authorized to promote and sell up to the Maximum Number of Fun Deal (voucher)s in multiple markets and on dates in its discretion. If Merchant elects to offer recurring month-to-month features, then Fun Deal will promote and sell up to the Maximum Number of Fun Deal (voucher)s for the initial feature, then promote and sell up to the Monthly Maximum Number of Fun Deal (voucher)s for subsequent features. Merchant shall specify the Maximum Number of Fun Deal (voucher)s and, if applicable, specify the Monthly Maximum Number of Fun Deal (voucher)s, and may increase either number in its discretion.</li>
              <li>Fun Deal reserves the continuing right to reject, revise, or discontinue any Merchant Offering, at any time and for any reason in Fun Deal’s sole discretion, and to terminate the Merchant Offering and to remove all references to the Merchant Offering and Fun Deal (voucher) from the Website; and redirect or delete any URL used in connection with the Merchant Offering.</li>
             <li> Merchant shall honor the Fun Deal (voucher)s for the Merchant Offering through the Promotional Value Expiration Date. After the Promotional Value Expiration Date,<b> MERCHANT AGREES TO REDEEM THE Fun Deal (VOUCHER) FOR THE AMOUNT PAID INDEFINITELY.</b></li>
              <li>After the Promotional Value Expiration Date, Merchant must always allow the purchaser to redeem the Fun Deal (voucher) for the Amount Paid toward the Merchant Offering. If the goods and services constituting the Merchant Offering and stated on the Fun Deal (voucher) are no longer available, the Merchant must always allow the purchaser to redeem the Fun Deal (voucher) toward any goods or services then offered by the Merchant equivalent to at least the Amount Paid.</li>
              <li>Partial redemptions: If applicable, and if a purchaser redeems a Fun Deal (voucher) for less than the Amount Paid, the Merchant is responsible for handling any unredeemed value as required by applicable law.</li>
              <li>Merchant agrees that in providing the Merchant Offering, Merchant will not inflate prices or impose any additional fees, charges, conditions or restrictions that contradict or are inconsistent with the terms stated on the Fun Deal (voucher), including the Fine Print. Unless disclosed in the Fine Print, Merchant further agrees not to impose different terms or a different cancellation policy than what is imposed on its non-Fun Deal customers.</li>
              <li>Merchant agrees that so long as an appointment or reservation is made to redeem a Fun Deal (voucher), or purchaser has made an attempt to make an appointment, before the Fun Deal (voucher)’s Promotional Value Expiration Date, the Fun Deal (voucher) will be honored for the Full Offer Value without restriction, even though the services may be provided after the Promotional Value Expiration Date.</li>
              <li>Merchant is responsible for all customer service in connection with the Merchant Offering and for supplying all goods and services stated in the Merchant Offering. Merchant is also responsible for any customer loyalty programs associated with the Merchant Offering.</li>
              <li>If applicable, Merchant will hold the Merchant Offering for pick-up by each purchaser at the Redemption Site. The “Redemption Site” is the complete and accurate address provided by Merchant to Fun Deal where purchasers are able to redeem the Fun Deal (voucher) to pick-up the Merchant Offering. Merchant also agrees to provide Fun Deal with the hours and dates of operation, complete with any exceptions, and a valid phone number for the Redemption Site. If any of the information related to a Redemption Site changes, Merchant agrees to notify Fun Deal immediately of such change.</li>
              <li>Merchant agrees to accept returns of the Merchant Offering in compliance with applicable laws and the Fine Print, but in any event: (i) will accept returns of a defective Merchant Offering or nonconforming items in or a part of any Merchant Offering at all times and pay (or reimburse a purchaser for) any and all costs associated with the return of such Merchant Offering; and (ii) will not impose a more restrictive return policy on purchasers than Merchant’s regular return policy as applied to Merchant’s purchaser in the ordinary course of Merchant’s business. <br></li>
               </ol><br>
              <li><b  style="color: #217ab3;">Payment</b></li><br>
              <ol type="i">
              <li>Amounts retained by Fun Deal from the proceeds of the Merchant Offering are compensation to Fun Deal for marketing, promoting, and advertising the Merchant Offering and distributing the Fun Deal (voucher)s on behalf of Merchant. Merchant shall retain the Remittance Amount in trust for the benefit of purchasers holding unredeemed Fun Deal (voucher)s until Merchant delivers the Merchant Offering, refunds the holder of any unredeemed Fun Deal (voucher) or escheats the amount required to a taxing authority, if applicable. The funds held in trust shall be returned to Fun Deal upon demand for refunds to purchasers. Fun Deal is authorized to review Merchant’s credit history, which may include a soft credit check.</li>
               <li>   Notwithstanding anything to the contrary, Fun Deal will have no obligation to advance amounts that have been paid to Fun Deal by a purchaser until Merchant has complied with Merchant’s obligations under this Agreement. If Fun Deal reasonably believes that Merchant has breached any provision of this Agreement, Fun Deal may offset, delay, withhold, or suspend future payments to Merchant, in Fun Deal’s sole discretion. In addition, if Merchant is unwilling to, or in Fun Deal’s reasonable discretion appears unable to, perform its obligations under this Agreement, Fun Deal is authorized to offset, delay, withhold, or suspend future payments to Merchant in addition to such other remedies as may be available under this Agreement or at law, to secure payment from Merchant for any refunds and/or other amounts payable by Merchant under this Agreement.</li>
              </ol>
              <li><b  style="color: #217ab3;">Customer Data Restrictions</b></li><br>
              <ol type="i">
              <li><b>“Customer Data”</b> means all identifiable information about purchasers generated or collected by Fun Deal or Merchant, including, but not limited to, purchasers’ name, shipping addresses, email addresses, phone numbers, purchaser preferences and tendencies, and financial transaction data.</li>
              <li>Merchant shall use Customer Data only to fulfill its redemption obligations in connection with the Merchant Offering as authorized by this Agreement. Merchant expressly agrees that any Customer Data shall be used only for this purpose (including, but not limited to, the redemption of Fun Deal (voucher)s and provision of goods and services to purchasers), and not to enhance a file or list owned by Merchant, or any third party. Merchant represents, warrants and covenants that it will not resell, broker or otherwise disclose any Customer Data to any third party, in whole or in part, for any purpose, unless required by applicable law. If Merchant engages any third party to facilitate its redemption obligations hereunder, Merchant shall ensure that such third party implements and complies with reasonable security measures in handling any Customer Data. If any Customer Data is collected directly by Merchant or a third party engaged by Merchant to facilitate its redemption obligations hereunder, Merchant shall ensure that it or such third party adopts, posts and processes the Customer Data in conformity with its posted privacy policy and all applicable laws.</li>
              <li>As long as Merchant uses Customer Data in compliance with applicable law and Merchant’s posted privacy policy, restrictions stated in this Agreement on Merchant’s use of Customer Data do not apply to: (i) data from any purchaser who is already a customer of Merchant before the Effective Date, if such data was provided to Merchant by such purchaser independent of this Agreement or any transaction hereunder; or (ii) data supplied by a purchaser directly to Merchant who becomes a customer of Merchant in connection with such purchaser explicitly opting in to receive communications from Merchant.</li>
              <li>Merchant shall immediately notify Fun Deal if Merchant becomes aware of or suspects any unauthorized access to or use of Customer Data or any confidential information of Fun Deal, and shall cooperate with Fun Deal in the investigation of such breach and the mitigation of any damages. Merchant will bear all associated expenses incurred by Fun Deal to comply with applicable laws (including, but not limited to, any data breach laws) or arising from any unauthorized access or acquisition of Customer Data while such data is in Merchant’s reasonable possession or control. Upon termination or expiration of this Agreement, Merchant shall, as directed by Fun Deal, destroy or return to Fun Deal all the Customer Data in Merchant’s or any agent of Merchant’s possession.</li>
              </ol>
              <li><b  style="color: #217ab3;">Term and Termination</b></li><br>
              <ol type="i">
              <li>This Agreement will continue in effect until terminated by either party in accordance with this Section (“Term”). Fun Deal is authorized to terminate this Agreement, at any time for any reason, upon written notice to Merchant. Merchant is authorized to terminate this Agreement upon seven (7) business days prior written notice to Fun Deal. Termination of this Agreement will not in any way affect Merchant’s obligation to redeem any Fun Deal (Fun Deal (voucher)) according to the terms of this Agreement, including the obligation to honor the Fun Deal (Fun Deal (voucher)) for the Amount Paid after the Promotional Value Expiration Date. Provisions in this Agreement that are intended to survive termination will continue in full force and effect after the Term.</li>
              </ol>
              <li><b  style="color: #217ab3;">Compliance with Gift Card, Gift Certificate and Abandoned Property Laws</b></li><br>
              <ol type="i">
              <li>Merchant agrees to comply with the Fun Deal (Fun Deal (voucher)) terms and conditions as stated on the Website, including but not limited to the “Terms of Use” of the Website, and to ensure that the Fun Deal (Fun Deal (voucher))s comply with all laws. Merchant is solely responsible for compliance with any applicable escheat or abandoned or unclaimed property laws. Upon written request from Merchant, but only when required, Fun Deal will provide Merchant with information in Fun Deal’s possession that the Merchant needs to comply with its obligations under this Agreement. Merchant agrees that, regardless of the payment terms, Merchant, and not Fun Deal, maintains any obligation for unredeemed Fun Deal (Fun Deal (voucher))s under applicable escheat or abandoned or unclaimed property laws.</li>
              </ol>
              <li><b  style="color: #217ab3;">Marketing</b></li><br>
              <ol type="i">
              <li>Happines s Deal and its business partners may communicate with Merchant with regard to products, promotions, and other services that may be of interest to Merchant. This may include email or other communications. Fun Deal may also solicit Merchant’s opinion for market research purposes.</li>
              </ol>
              <li><b  style="color: #217ab3;">Intellectual Property Rights</b></li><br>
              <ol type="i">
              <li>Merchant grants to Fun Deal a non-exclusive, worldwide, royalty free, paid-up, perpetual, irrevocable, transferable and sub-licensable license and right to use, modify, reproduce, sublicense, publicly display, distribute, broadcast, transmit, stream, publish and publicly perform: (a) Merchant’s name, logos, trademarks, service marks, domain names, and any audiovisual content, video recordings, audio recordings, photographs, graphics, artwork, text and any other content provided, specified, recommended, directed, authorized or approved to use by Merchant (collectively, “Merchant IP”); and (b) any third party’s name, logos, trademarks, service marks, domain names, audiovisual recordings, video recordings, audio recordings, photographs, graphics, artwork, text and any other content provided, specified, recommended, directed, authorized or approved for use by Merchant (collectively, “Third Party IP”), in each case in connection with the promotion, sale/resale (as may be applicable) or distribution of the Merchant Offering in all media or formats now known or hereinafter developed (“License”). Any use of the Merchant IP or Third Party IP as contemplated in this Agreement is within Fun Deal’s sole discretion.</li>
             <li> Merchant acknowledges and agrees that, as between the parties, Fun Deal owns all interest in and to the Website, Customer Data, logos, trademarks, service marks, domain names, social media identifiers, all data collected through or from the Website, all audiovisual content, video recordings, audio recordings, photographs, graphics, artwork, text or any other content created by Fun Deal or at Fun Deal’s direction, or assigned to Fun Deal, and any materials, software, technology or tools used or provided by Fun Deal to promote, sell/resell (as may be applicable) or distribute the Merchant Offering and conduct its business in connection therewith (collectively “Fun Deal IP”). Merchant shall not use, sell, rent, lease, sublicense, distribute, broadcast, transmit, stream, place shift, transfer, copy, reproduce, download, time shift, display, perform, modify or timeshare the Fun Deal IP or any portion thereof, or use such Fun Deal IP as a component of or a base for products or services prepared for commercial use, sale, sublicense, lease, access or distribution, except that Fun Deal grants Merchant a limited, non-exclusive, revocable, non-transferable, non-sub licensable license during the Term to use one copy of Fun Deal’s mobile merchant software application on a single mobile computer, tablet computer, or other device, solely for the purposes permitted by that software, and to make one copy of the software for back-up purposes. Merchant shall keep the Fun Deal IP confidential, and shall not prepare any derivative work based on the Fun Deal IP or translate, reverse engineer, decompile or disassemble the Fun Deal IP. Merchant shall not take any action to challenge or object to the validity of Fun Deal’s rights in the Fun Deal IP or Fun Deal’s ownership or registration thereof. Except as specifically provided in this Agreement, Merchant and any third party assisting Merchant with its obligations in this Agreement, are not authorized to use Fun Deal IP in any medium without prior written approval from an authorized representative of Fun Deal. Merchant shall not include any trade name, trademark, service mark, domain name, social media identifier, of Fun Deal or its affiliates, or any variant or misspelling thereof, in any trademark, domain name, email address, social network identifier, metadata or search engine keyword. Merchant shall not use or display any Fun Deal IP in a manner that could reasonably imply an endorsement, relationship, affiliation with, or sponsorship between Merchant or a third party and Fun Deal. All rights to the Fun Deal IP not expressly granted in this Agreement are reserved by Fun Deal.</li>
              <li>If Merchant provides Fun Deal or any of its affiliates with feedback, suggestions, reviews, modifications, data, images, text, or other information or content about a Fun Deal product or service or otherwise in connection with this Agreement, any Fun Deal IP, or Merchant’s participation in the Merchant Offering or Fun Deal (Fun Deal (voucher)), (collectively, “Feedback”), Merchant irrevocably assigns to Fun Deal all right, title, and interest in and to Feedback. In the event your assignment to Fun Deal is invalid for any reason, you hereby irrevocably grant Fun Deal and its affiliates a perpetual, paid-up, royalty-free, nonexclusive, worldwide, irrevocable, freely transferable right and license to (i) use, reproduce, perform, display, and distribute Feedback; (ii) adapt, modify, re-format, and create derivative works of Feedback for any purpose and sublicense the foregoing rights to any other person or entity. Merchant warrants that: (A) Feedback is Merchant’s original work, or Merchant obtained Feedback in a lawful manner; and (B) Fun Deal and its sublicensees’ exercise of rights under the license above will not violate any person’s or entity’s rights, including any copyright rights. Merchant agrees to provide Fun Deal’s such assistance as Fun Deal might require to document, perfect, or maintain Fun Deal’s rights in and to Feedback.</li>
               </ol>
              <li><b  style="color: #217ab3;">Representations and Warranties</b></li><br>
              <ol type="i">
             <li> Merchant represents and warrants that: (a) Merchant has the right, power and authority to enter into this Agreement; (b) Merchant, if required by applicable law, is registered for sales and use tax collection purposes in all jurisdictions where Merchant’s goods and services will be provided; (c) the Fun Deal (Fun Deal (voucher)), upon being delivered by Fun Deal, will be available immediately for redemption and Merchant will have sufficient goods and/or services available for redemption through the Promotional Value Expiration Date (i.e., a number of goods and/or services sufficient to fulfill its redemption obligations in connection with the applicable Maximum Number of Fun Deal (Fun Deal (voucher))s); (d) the terms and conditions of the Fun Deal (Fun Deal (voucher)), including any discounts or goods and services offered thereunder do not and will not violate any, local, state, or central law, statute, rule, regulation, or order, including but not limited to, any law or regulation governing the use, sale, and distribution of alcohol and any laws governing Fun Deal (Fun Deal (voucher))s, gift cards, coupons, and gift certificates; (e) the Merchant’s redemption of the Fun Deal (Fun Deal (voucher)) will result in the bona fide provision of goods and/or services by Merchant to the purchaser; (f) Merchant owns all interest in and to the Merchant IP and has licensing rights in (with the right to sublicense to Fun Deal) the Third Party IP, and has the right to grant the License stated in this Agreement; (g) the Merchant IP and the Third Party IP, the Merchant Offering, Fun Deal’s use and promotion thereof, and the results of such Merchant Offerings, will not infringe, dilute, misappropriate, or otherwise violate, anywhere in the world, any patent, copyright, logo, trademark, service mark, trade name, rights in designs, or other intellectual property right or right of privacy or publicity of any third party or any applicable law, and does not and will not result from the misappropriation of any trade secret or the breach of any confidentiality obligations to any person or entity; (h) the Merchant IP and Third Party IP does not include any material that is unlawful, threatening, abusive, defamatory, vulgar, obscene, profane or otherwise objectionable, or that encourages conduct that constitutes a criminal offense, gives rise to civil liability or otherwise violates any law; (i) the Fun Deal (Fun Deal (voucher))s and any advertising or promotion of Merchant’s goods and services relating thereto will not constitute false, deceptive or unfair advertising or disparagement under any applicable law; (j) Merchant and its employees, contractors and agents have had the proper education and training and hold all required and up-to-date regulatory authorization, licenses and certifications relating to any Merchant Offering to provide the goods or services described in this Agreement; (k) Merchant’s business information and direct deposit details as provided in this Agreement, indicating where payments should be forwarded are accurate and Merchant is the authorized entity to receive the funds forwarded by Fun Deal; (l) Merchant is not authorized to resell, broker or otherwise disclose any Customer Data (as defined in this Agreement) to any third party, in whole or in part, for any purpose, and Merchant is not authorized to copy or otherwise reproduce any Customer Data other than for the purpose of redeeming or verifying the validity of Fun Deal (Fun Deal (voucher))s in connection with this Agreement and (m) the Merchant Offering is: (i) free from defects in workmanship, materials and design, (ii) merchantable and suitable for the purposes, if any, stated in the Agreement, and (iii) genuine, bona fide products, as described herein and does not violate the rights of any third party.</li>
              </ol>
              <li><b  style="color: #217ab3;">Indemnification</b></li><br>
              <ol type="i">
              <li>To the extent allowed under applicable law, Merchant agrees to defend, indemnify and hold Fun Deal, its affiliated and related entities, and any of its respective officers, directors, agents and employees, harmless from and against any claims, lawsuits, investigations, penalties, damages, losses or expenses (including but not limited to reasonable attorneys’ fees and costs) arising out of or relating to any of the following: (a) any breach or alleged breach by Merchant of this Agreement, or the representations and warranties made in this Agreement; (b) any claim for state sales, use, or similar tax obligations of Merchant arising from the sale and redemption of a Fun Deal (Fun Deal (voucher)); (c) any claim arising out of a violation of any law or regulation by Merchant or governing Merchant’s goods and/or services; (d) any claim arising out of Merchant’s violation of law or regulation governing the use, sale, and distribution of alcohol; (e) any claim by a purchaser or anyone else arising out of or relating to the goods and services provided by Merchant and/or pick up of the goods and services at the Redemption Site, including but not limited to, any claims for false advertising, product defects, personal injury, death, or property damages; (f ) any claim by a purchaser for the Amount Paid; (g) any claim arising out of Merchant’s misuse of Customer Data, or any violation of an applicable data privacy or security law; and (h) any claim arising out of Merchant’s negligence, fraud or willful misconduct. Fun Deal maintains the right to control its own defense and to choose and appoint its own defense counsel, regardless of the presence or absence of a conflict of interest between Fun Deal and Merchant. Merchant’s duty to defend and indemnify Fun Deal includes the duty to pay Fun Deal’s reasonable attorneys’ fees and costs, including any expert fees.</li>
              </ol>
              <li><b  style="color: #217ab3;">Confidentiality</b></li><br>
              <ol type="i">
              <li>The terms for the Merchant Offering described in this Agreement are confidential, and Merchant agrees not to disclose the terms described in this Agreement to any party (other than to its employees, parent companies, shareholders, lawyers and accountants on a strict need-to-know basis or as required by applicable public records and other law, if Merchant has taken the necessary precautions of the kind generally taken with confidential information to preserve the confidentiality of the information made available to such parties). In the event of a breach, Fun Deal is entitled to injunctive relief and a decree for specific performance, and any other relief allowed under applicable law (including monetary damages if appropriate).</li>
              </ol>
              <li><b  style="color: #217ab3;">Limitation of Liability</b></li><br>
              <ol type="i">
             <li>EXCEPT FOR MERCHANT’S INDEMNIFICATION OBLIGATIONS HEREUNDER, IN NO EVENT IS EITHER PARTY LIABLE OR OBLIGATED TO THE OTHER PARTY OR ANY THIRD PARTY FOR ANY LOST PROFITS, LOST BUSINESS, SPECIAL, INCIDENTAL, EXEMPLARY, CONSEQUENTIAL, PUNITIVE, OR INDIRECT DAMAGES REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, EVEN IF INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGES IN ADVANCE. Fun Deal’S SOLE AND COMPLETE LIABILITY TO MERCHANT FOR ANY CLAIMS ARISING OUT OF OR RELATING TO THIS AGREEMENT, OR ANY ERRORS, OMISSIONS OR MISPLACEMENTS OF ANY Fun Deal (VOUCHER) IS LIMITED TO THE AMOUNT OF FEES RETAINED BY Fun Deal HEREUNDER FOR THE PRECEDING SIX(6) MONTHS AFTER FINAL CALCULATION AND RECONCILIATION OF ALL REFUNDS. THIS LIMITATION OF LIABILITY APPLIES TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW AND NOTWITHSTANDING THE FAILURE OF ANY LIMITED REMEDY. </li>
               </ol>
          </ol>
            </ul>
            <div class="row paddingleft20" style="color: #217ab3;text-align: center;">
              USER TERMS &amp; CONDITIONS
            </div>
            <p>For this section, Restaurant shall be defined as an Institution that offers food and beverages for sale in its
              regular business operations, and is making such food and beverages available to purchasers of Happy
              Deal (voucher)s. In this respect, the following shall constitute as Standard Terms and Conditions for
              redeeming Fun Deal Vouchers for purchasing goods and/or services from Institutions related to fashion
              and various other industries:</p>
            <ul class="termsul">

              <li>Fun Deal shall not be responsible for the quality of services provided by the Restaurant, and the same
                    shall be the sole responsibility of the Restaurant.</li>
              <li>Fun Deal (voucher) packs are available based on the number of people going for Dine-in, selection of the pack
                    must be made while checking out.</li>
              <li>The number of codes generated shall be as follows: 1 code (1-3 persons), 2 codes (4-6 persons), 3 codes
                    (7-9 persons).This pack selection is provided only for food Fun Deal voucher users to state the number
                    of diners and proceed with the payment charges in proportion to the number of diners. This pack system
                    is not available for fashion or activities Fun Deal vouchers.</li>
              <li>The selected offer is valid for Dine-in and not Takeaway or Delivery.</li>
              <li>
                  This offer will not be available on any National/Public holiday.
                </li>
                <li>
                        No refunds shall be granted for Fun Deal (voucher)s.                          </li>
                      <li>
                            Fun Deal (voucher)s are redeemable in their entirety only and may not be redeemed incrementally.                              </li>
                          <li>
                                Fun Deal (voucher)s can be redeemed only after due verification of the customer including, without
                                limitation, matching the unique identification number provided to the customer at the time of purchase of Happy
                                Deal (voucher)s.                                  </li>
                              <li>
                                    For more than 10 members, another Fun Deal (voucher)s transaction must be initiated.                                      </li>
                                  <li>
                                        Validity period for redemption of Fun Deal (voucher)s is determined by Restaurants or other industries, shall
                                        be mentioned on Fun Deal (voucher)s.                                          </li>
                                      <li>
                                            It is at the discretion of the Restaurant to determine whether Fun Deal (voucher)s can be combined with any
                                            other Restaurant vouchers, third party vouchers, coupons, or promotions and the like.                                              </li>
                                          <li>
                                                Fun Deal (voucher)s cannot be used for taxes, tips or prior balances, unless permitted by the Restaurant.                                                  </li>
                                              <li>
                                                    Fun Deal (voucher)s are valid for dine-in only unless otherwise stated.                                                      </li>
                                                  <li>
                                                        The issuing of restaurant credit is at the sole discretion of the Restaurant.                                                          </li>
                                                      <li>
                                                            Neither Fun Deal nor the Restaurant is responsible for lost or stolen Fun Deal (voucher)s or the
                                                            reference numbers mentioned on it.                                                              </li>
                                                          <li>
                                                                Fun Deal shall not be responsible for the quality of products and/or services provided by the Institution,
                                                                and the same shall be the sole responsibility of the Institution.                                                                  </li>
                                                              <li>
                                                                    No refunds shall be granted for Fun Deal (voucher)s.                                                                      </li>
                                                                  <li>
                                                                        Limit one (1) Voucher per redemption. Only one Voucher can be used per visit unless otherwise specified by the
                                                                        Institution.                                                                          </li>
                                                                      <li>
                                                                            Reproduction, sale or trade of Fun Deal (voucher)s is strictly prohibited.                                                                              </li>
                                                                          <li>
                                                                                Any attempted redemption not consistent with these terms &amp; conditions will render the Fun Deal (voucher)
                                                                                void and invalid.                                                                                  </li>
                                                                              <li>
                                                                                    The Fun Deal (voucher) will expire on the date specified on it.                                                                                      </li>
                                                                                  <li>
                                                                                        The Happy Hour Deal would be valid for a specific time on specific days.                                                                                          </li>
                                                                                      <li>
                                                                                            One Fun Deal voucher could be used during billing, other offers cannot be clubbed with any Fun Deal offer
                                                                                            being used.                                                                                              </li>
                                                                                            <li>
                                                                                                    By signing up the user also signs up directly for receiving our newsletter, emails and messages.                                                                                            </li>
          </ul>
          <div class="row paddingleft20" style="color: #217ab3; text-align: center;">
              FASHION TERMS &amp; CONDITIONS:
            </div>
            <p>The following shall constitute as Standard Terms and Conditions for redeeming Fun Deal,
              Vouchers for purchasing goods and/or services from Institutions related to fashion industry:</p>
            <ul class="termsul">

              <li>Fun Deal shall not be responsible for the quality of products and/or services provided by the Institution,
                  and the same shall be the sole responsibility of the Institution..</li>
              <li>No refunds shall be granted for Fun Deal (voucher)s.</li>
              <li>Fun Deal (voucher)s are redeemable in their entirety only and may not be redeemed incrementally.</li>
              <li>
                  Fun Deal (voucher)s can be redeemed only after due verification of the customer including, without limitation,
                  matching the unique identification number provided to the customer at the time of purchase of Fun Deal
                  (voucher)s.                  </li>
                <li>
                  Limit one (1) Voucher per redemption. Only one Voucher can be used per visit unless otherwise specified by the
                  Institution.                  </li>
                <li>
                  This offer will not be available on any National/Public holiday.                  </li>
                <li>
                  The issuing of credit is at the sole discretion of the Institution.                  </li>
                <li>
                  Neither Fun Deal nor the Institution is responsible for lost or stolen Fun Deal (voucher)s or the reference
                  number mentioned on it. Fun Deal (voucher)s cannot be combined with any other gift vouchers, third party
                  vouchers, coupons, or promotions, unless otherwise specified by the Institution.                  </li>
                <li>
                  Reproduction, sale or trade of Fun Deal (voucher)s is strictly prohibited.                  </li>
                <li>
                  Any attempted redemption not consistent with these terms and conditions will render the Fun Deal (voucher)
                  void and invalid.                  </li>
                <li>
                  The Fun Deal (voucher) will expire on the date specified on it.                  </li>
                <li>
                  The Happy Hour Deal would be valid for a specific time on specific days.                  </li>
                <li>
                  One Fun Deal voucher could be used during billing, other offers cannot be clubbed with any Fun Deal offer
                  being used.                  </li>
               
                </ul>
                <div class="row paddingleft20" style="color: #217ab3;text-align: center;">
                  ACTIVITY TERMS &amp; CONDITIONS:
                </div>
                <p>The following shall constitute as Standard Terms and Conditions for redeeming Fun Deal,
                      Vouchers for purchasing goods and/or services from Institutions related to VARIOUS industries:</p>
                <ul class="termsul">
                      <li>
                              Fun Deal shall not be responsible for the quality of products and/or services provided by the Institution,
                              and the same shall be the sole responsibility of the Institution.                              </li>
                            <li>
                                  No refunds shall be granted for Fun Deal (voucher)s.                              </li>
                            <li>
                                  Fun Deal (voucher)s can be redeemed only after due verification of the customer including, without limitation,
                                  matching the unique identification number provided to the customer at the time of purchase of Fun Deal
                                  (voucher)s.                              </li>
                                  <li>Fun Deal (voucher)s may be applied only to purchase the merchandise sold by the Institution, and may not be
                                          applied to shipping or handling charges.</li>
                            </ul>
  
          </div>
          <div class="modal-footer" style="justify-content:flex-start;">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      
          

    <div class="modal fade" id="exampleModalprivacy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog width700" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.5rem;color: #217ab3;font-weight: 600;">Privacy Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <div class="col-md-12" style="text-align: center; width: 100%;">
                              <img src="/images/logo.png" width="15%">
                      </div>
                <ul class="paddingleft20">
                      This Privacy Policy relates solely to the information collection and use practices of our web site located at http://www.smvdu.ac.in (this "Website"), any of services offered by or through this website and any individual websites or merchant-specific, city-specific, or state-specific websites now or hereinafter contained within or otherwise available through external hyperlinks with our Website (the "Minisites"). We recognize that many visitors and users of this Website and/or the Minisites ("User(s)") are concerned about the information they provide to us, and how we treat that information. This Privacy Policy, which may be updated from time to time, has been developed to address those concerns. We encourage you to review the Privacy Policy, and become familiar with it. The User by subscribing to the services provided by, unconditionally agrees to be contacted by or any of its merchants, affiliates, associates and / or assigns for regular updates relating to the services, status of their requests, new and / or promotional offers and other information, which in its sole discretion may deem appropriate to send to the User(s) and the same in any manner will not be treated as breach of any privacy or rights of the User(s). <br>

                      Your use of this Website indicates to us that you have read and accept our privacy practices, as outlined in this Privacy Policy. <br>
                      
                      <br><br>
                      <b style="color: #217ab3;">What type of information is collected by us?</b><br><br><br>
                      
                      We collect two types of information about our Website Users: Personally Identifiable Information and Non-Personally Identifiable Information. <br> <br> <br>
                      
                      
                      <u>Personally Identifiable Information :</u> <br> <br>
                      
                      Personally Identifiable Information (PII) is information that identifies a specific end user. When you engage in certain activities on the Website, such as creating an account, ordering a product or service from the Institutions (as defined in Terms of Use), submitting content and/or posting content in discussion forums, entering a promotion sponsored by the Institution, filling out a survey, posting a review, sending feedback to us or the Institutions, requesting information about our services, applying for a job or posting a video (collectively, "Identification Activities"), we may ask you to provide certain information about yourself. It is optional for you to engage in an Identification Activity. If you elect to engage in an Identification Activity, however, we may ask you to provide us with certain information about yourself, including but not limited to your personal details such as name, gender, contact details and other data essential to provide the services available through this Website. When you order products or services, we may also ask you to provide us with financial information, including but not limited to, your credit card or debit card number, expiration date and authentication codes or related information. Depending on the activity, some of the information we ask you to provide is identified as mandatory and some is identified as voluntary. If you do not provide the mandatory information for a particular activity that requires it, you will not be permitted to engage in that activity. We use Personally Identifiable Information to provide products and services to you, administer promotions, enhance the operation of the Website, improve our marketing and promotional efforts, analyze Website use, improve our product and service offerings, and to tailor your experience with the Institutions. For instance, if you send our customer service an email we may use your comments and feedback to tell others about our services, and may post your comment in our marketing materials or on our Website. In addition, if you use our Website to send information or a product to another person, we may store your personal information, and the personal information of any recipient. We may use that other person's contact information to allow him or her to view and accept your gift or to allow the recipient to access the information you requested we send. We may also use Personally Identifiable Information to troubleshoot, resolve disputes, accomplish administrative tasks, contact you, enforce our agreements with you, including our Website Terms of Use, and this Privacy Policy, comply with applicable law, and cooperate with law enforcement activities. <br>
                      
                      In the event there is any change in your Personally Identifiable Information like your address, phone number or email ID, you may send us intimation about the changes and we will make the necessary amendment in our records. <br>
                      
                      
                      <u> Non-Personally Identifiable Information.:</u><br> <br>
                      
                      Non-Personally Identifiable Information ("NPII") is information that does not identify a specific end user. This type of information may include things like the Uniform Resource Locator ("URL") of the website you visited before coming to our Website, the URL of the website you visit after leaving our Website, the type of browser you are using and your Internet Protocol ("IP") address. We, and/or our authorized third party service providers that perform function on our behalf like sending out and distributing our administrative and promotional emails ("Third Party Service Providers") and authorized third party advertisers that provide advertising services to Kinobeo ("Third Party Advertisers"), may automatically collect this information when you visit our Website through the use of electronic tools like Cookies and Web beacons or Pixel tags, as described elsewhere in this Privacy Policy. <br>
                      
                      We use Non-Personally Identifiable Information to troubleshoot, administer the Website, analyze trends, gather demographic information, comply with applicable law, and cooperate with law enforcement activities. We may also share this information with Third Party Service Providers and Third Party Advertisers to measure the overall effectiveness of our online advertising, content, and programming. <br>
                      
                      <br><br>
                      <b style="color: #217ab3;">When and how do we collect the information? </b> <br> <br><br>
                      
                      We collect information from you for various purposes including but not limited to the following: <br> <br> <br>
                      
                      <u> Member Registration :</u> <br> <br>
                      
                      If you choose to become a registered member of this Website, you must provide your name, address, telephone or cell phone number, e-mail address, a unique login name, password, and password validation, and a password hint to help you remember your password. This information is collected on the registration form for several reasons including but not limited to the following: <br> <br>
                      <br><br>
                      Personal identification purposes <br><br>
                      Completing purchases <br><br>
                      Allowing us to contact you for customer service purposes <br><br>
                      If necessary, customizing the content of this Website to strive to meet your specific needs <br><br>
                      For making product or other improvements to our site <br><br>
                      In addition, we need your e-mail address to confirm your new member registration and each transaction you conduct on our site. As a registered member of this Website, you will be entitled to savings and benefits on deals including, but not limited to restaurants, hotels, holiday packages, etc. You could, in addition, look forward to receiving by e-mail monthly newsletters, daily promotions offering special deals, updates for new services, and other noteworthy items. However, you may choose at any time to no longer receive these types of e-mail messages. Please see our Opt-Out Policy described below for details. <br>
                      
                      <br><br>
                      <u>  Member Profile :</u> <br>  <br>
                      
                      As a registered member of this Website, you can choose to complete your online profile by providing us with personal preferences, credit card billing information, and other personal information. This information is primarily used to assist you in making reservations quickly without having to type in the same information repeatedly. For example, you can store your credit card billing information so that when you make a transaction, we may automatically pre-fill the credit card billing information for you. <br>
                      
                      <br>
                      <u> Online Surveys :</u><br> <br>
                      
                      We value opinions and comments from members, so we frequently conduct online surveys. Participation in these surveys is entirely optional. Typically, the information is aggregated, and used to make improvements to our Website and its services and to develop appealing content, features and promotions for our Website members. Survey participants are anonymous unless otherwise stated in the survey. <br>
                      
                      <br>
                      <u> Promotions :</u> <br> <br>
                      
                      We may sponsor promotions to give our Website members the opportunity to win prizes. Information collected by us for such activities may include contact information and survey questions. We use contact information to notify the winners and survey information to develop promotions and product improvements to our Website. <br>
                      
                      <br>
                      <u> Automatic Logging of Session Data :</u> <br> <br>
                      
                      We automatically log generic information about your computer's connection to the Internet, which we call "session data", that is anonymous and not linked to any personal information. Session data consists of things such as IP address, operating system and type of browser software being used and the activities conducted by the user while on our Website. An IP address is a number that lets computers attached to the internet, such as our web servers, know where to send data back to the user, such as the pages of the site the user wishes to view. We collect session data because it helps us analyze such things as what items visitors are likely to click on most, the way visitors are clicking through the site, how many visitors are surfing to various pages on the site, how long visitors to the site are staying and how often they are visiting. It also helps us diagnose problems with our servers and lets us better administer our systems. Although such information does not identify any visitor personally, it is possible to determine from an IP address a visitor's Internet Service Provider (ISP), and the approximate geographic location of his or her point of connectivity. <br>
                      
                      <br><br>
                      <u> Cookies :</u><br> <br>
                      
                      "Cookies" are small pieces of information that are stored by your browser on your computer's hard drive. The use of cookies is very common on the Internet and our Website's use of cookies is similar to that of other reputable online companies. <br>
                      
                      There are many myths circulating about cookies, but you should know that cookies are usually only read by the server that placed them. We confirm that our cookies are unable to do such things as run programs on your computer, plant viruses or harvest your personal information and that our cookies are not intended to be used for such purposes, as explained below. <br>
                      
                      Cookies allow us to serve you better and more efficiently, and to personalize your experience at our Website. Our Website uses cookies to personalize your experience on the site, and with respect to advertisements. As to the former, these types of cookies allow you to log in without having to type your log - in name each time (only your password is needed). We may also use such cookies to display an advertisement to you while you are on the Website. <br>
                      
                      A cookie may also be placed by our advertising server. Such cookies are used only for purposes of tracking the effectiveness of advertising served by us on our Website and no PII is gathered from you by the use of these cookies, nor is this information shared with any third party. Similarly, a cookie may be placed by our Third Party Advertisers. These entities may use aggregated statistics about your visits to this and other web sites in order to provide advertisements about travel - related goods and services that you may be interested in. The information they collect does not include your PII. <br>
                      
                      Most Web browsers automatically accept cookies. Of course, by changing the options on your web browser or using certain software programs, you can control how and whether cookies will be accepted by your browser. Our Website supports your right to block any unwanted internet activity, especially that of unscrupulous websites. However, blocking our Website cookies may disable certain features on the Website, and may make it impossible to purchase or use certain services available on the Website. Please note that it is possible to block cookie activity from certain websites while permitting cookies from sites you trust, like our Website. <br>
                      
                      <br>
                      <u> Access by Third Party Advertisers  :</u><br> <br>
                      
                      The Third Party Advertisers may also employ technology that is used to measure the effectiveness of advertisements. Any such information is anonymous. They may use this anonymous information about your visits to this and other sites in order to provide advertisements about goods and services of potential interest to you. No PII is collected during this process. The information is anonymous, and does not link online actions to an identifiable person.<br>
                      
                      <br>
                      <u> Personalized Services :</u><br><br>
                      
                      From time to time we may add or enhance services available on the Website. To the extent these services are provided, and used by you, we will use the information you provide to facilitate the service requested. For example, if you email us with a question, we will use your email address, name, nature of the question, etc. to respond to your question. We may also store such information to assist us in making the site the better and easier to use.<br>
                      
                      <br>
                      <u> Compliance with law :</u><br><br>
                      
                      In addition to the circumstances described above, we may disclose our Website member information if required to do so by law, court order, as requested by other government or law enforcement authority, or in the good faith belief that disclosure is otherwise necessary or advisable including, without limitation, to protect the rights or properties of Kinobeo or any or all of its subsidiaries and associates, and its employees, directors or officers, or when we have reason to believe that disclosing the information is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights or properties, whether intentionally or otherwise, or when anyone else could be harmed by such activities. In addition, if Kinobeo or substantially all of its assets are acquired, our customer information will most likely also be transferred in connection with such acquisition.<br>
                      
                      Apart from the above, we may collect information from you for providing our complete range of services like issuing vouchers for products and/or services, maintaining discussion forums, interacting with Website Users for customer feedback and resolving customer queries and issues, processing requests for signing up for special offers and maintenance of Website. <br>
                      
                      <br><br>
                     <b style="color: #217ab3;"> When and to whom do we release Personally Identifiable Information?</b> <br><br><br>
                      
                     <u> We will not share your Personally Identifiable Information with other parties except as provided below :</u> <br><br>
                      
                      We may share your information with Institutions. We issue vouchers for products or services to be provided by Institutions (both restaurant and non-restaurant merchants with whom we have an association for providing you with value deals at discounted price). We share some of your Personally Identifiable Information with Institutions in order to help them provide you with better service and track the value of our program. Sharing this information will allow an Institution to market directly to you should they choose to do so. However, we will only share Personally Identifiable Information with an Institution if you engage in an Identification Activity, and then only to the Institution involved in that Identification Activity. For example, if you purchase a promotional voucher for a particular restaurant, we may share your name, email address, cell phone number, telephone and city with that restaurant. <br>
                      
                      We may share your information with Authorized Third Party Service Providers. We provide some of our services through third parties. These "Third Party Service Providers? perform functions on our behalf, like sending out and distributing our administrative and promotional emails and sms. We may share your Personally Identifiable Information with Third Party Service Providers to fulfill orders, deliver packages, send post, sms or email, administer promotions, remove repetitive information on customer lists, analyze data, provide marketing assistance, provide search results and links, process credit card payments, operate the Website, troubleshoot, and provide customer service. We may also collect personal information from individuals and entities with whom we have business relationships ("Business Associates?) and may have to also share their information with Third Party Service Providers to accomplish our administrative tasks. For example, when you order a service, we release your financial (credit card, debit card, net banking, mobile payment, etc) information to the card-issuing bank/provider to confirm payment for the service and, if applicable, release your address to the delivery service to deliver the service. We encourage Institutions and Third Party Service Providers to adopt and post privacy policies. However, the use of your Personally Identifiable Information by such parties is governed by the privacy policies of such parties and is not subject to our control.<br>
                      
                      We may share your information for our Protection and the Protection of Others. We may also disclose Personally Identifiable Information when we believe release is appropriate to comply with the law or a court order enforce or apply this Privacy Policy, our Website Terms of Use or other agreements; or protect the rights, property or safety of the Website, its Users or others.<br>
                      
                      <br><br>
                      <b style="color: #217ab3;">When and to whom we release Non-Personally Identifiable Information?</b> <br> <br><br>
                      
                      We may disclose or share Non-Personally Identifiable Information with Institutions, Business Associates and Third Party Advertisers. For example, we may share aggregated demographic information (which does not include any Personally Identifiable Information) with Third Party Advertisers and other parties as provided below: We may use Third Party Advertisers to serve advertisements when you visit our Website. These companies may use Non-Personally Identifiable Information about your visits to this and other websites in order to provide, through the use of network tags, advertisements about goods and services that may be of interest to you. We also use Third Party Service Providers to track and analyze Non-Personally Identifiable Information usage and volume statistical information from our Users to administer our Website and constantly improve its quality. We may also publish this information for promotional purposes or as a representative audience for Third Party Advertisers. Please note that this is not Personally Identifiable Information, only general summaries of the activities of our Users. Such data is collected on our behalf, and is owned and used by us.<br>
                      
                      <br><br>
                      <b style="color: #217ab3;">What is our Opt-Out policy?</b> <br><br><br>
                      
                      At any time, you may unsubscribe from our "Daily Deal" email or sms or other newsletter or similar services through the "My Account" link on our Website's home page. As a member, you will occasionally receive e-mail updates from us about special offers, new services, and other noteworthy items. We hope you will find these updates interesting and informative. Of course, if you would rather not receive them, please click on the "unsubscribe" link or follow the instructions in each email message or send us an email to unsubscribe@mydala.com. We reserve the right to limit membership to those who will accept such emails. Members will be notified via email prior to any actions taken. <br>
                      
                      <br><br>
                      <b style="color: #217ab3;">What security measures are available on the Website?</b> <br> <br> <br>
                      <u> Data Security :</u><br><br>
                      
                      We take reasonable steps to maintain the security of the Personally Identifiable Information that we collect, including limiting the number of people who have physical access to our database servers, as well as installing electronic security systems that guard against unauthorized access. However, no data transmission over the Internet can be guaranteed to be completely secure. Accordingly, we cannot ensure or warrant the security of any information that you transmit to us, so you do so at your own risk.<br>
                      <br>
                      <u> Payment Security :</u><br><br>
                      
                      All payments on our Website are secured. This means all personal information you provide on the Website is transmitted using SSL (Secure Socket Layer) encryption. SSL is a proven coding system that lets your browser automatically encrypt, or scramble, data before you send it to us. The same process is replicated when you make purchases on our Website.<br>
                      <br>
                      <u> Disclaimer :</u><br><br>
                      
                      Our Website contains links to other web sites. Please note that when you click on one of these links, you are entering another web site for which we have no responsibility. We encourage you to read the privacy statements of all such sites as their policies may be materially different from this Privacy Policy. Of course, you are solely responsible for maintaining the secrecy of your passwords, and your Website membership account information. Please be very careful, responsible, and alert with this information, especially whenever you're online.<br>
                      
                      This Privacy Policy is effective as of November 5, 2019. Any material changes in the way we use personal information will be described in future versions of this Privacy Policy. Of course, you may always submit concerns regarding our Privacy Policy or our privacy practices via email to major.project.676@gmail.com. Please reference the privacy policy in your subject line. We will attempt to respond to all of your reasonable concerns or inquiries within five business days of receipt of your email. Thank you for using happinessdeal.com!<br>
                      
                  </ul>
              </div>
              <div class="modal-footer" style="justify-content:flex-start;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


    <div class="footerOuter">
        <div id="footer">
            <div class="logo">
              <a href="/"><img src="/images/logo.png" class="logo_bot"></a> 
               
            </div>
            <div class="links">
                <h3>Links<hr class="hr_ft"></h3>
                <a data-toggle="modal" data-target="#exampleModalabout">About Us</a>
                <a href="https://happinessdeal.netlify.com/" target="_blank">Happiness Blog</a>
                <a data-toggle="modal" data-target="#exampleModal">Terms and Conditions </a>
                  <a data-toggle="modal" data-target="#exampleModalprivacy">Policy</a>
            </div>
            <div class="address">
                <h3>Contact<hr class="hr_ft"></h3>
                <h4><i class="fas fa-envelope addIcon"></i><a href = "mailto:major.project.676@gmail.com">major.project.676@gmail.com</a></h3>
                <h4><i class="fas fa-phone-alt addIcon"></i>
            <a href="tel:917889726322">+917889726322
                                      </a></h3>
                <h4><i class="fas fa-phone-alt addIcon"></i>
                  <a href="tel:919086504225">+919086504225
                                      </a></h3>
                    <div class="social-info">
                          <a href="https://m.facebook.com/happinessdeal/?ref=bookmarks" target="blank_" ><i class="fab fa-facebook-square social"></i></a>
                  <a href="https://twitter.com/home" target="blank_" ><i class="fab fa-twitter-square social"></i></a>
                  <a href="https://www.instagram.com/happinessdeal/" target="blank_" ><i class="fab fa-instagram social"></i></a>
                        </div>
            </div>
            <div class="social-infoUpper bd_lft">
                <div class="pd1">
                    <h2 class="ft_hd">Coming soon <hr class="hr_"></h2>
                    <div class="row" style="text-align: center;">
                  <div class="col-md-3"></div>
                   <div class="col-md-6" style="text-align: center;">
                      <img src="/images/ios.png" class="app_">
                      <p class="txt_app">App Store</p>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="container-fluid" style="background: white; height: 60px;">
            <div class="copywrite">
                <p><i class="fas fa-copyright copywriteIcon"></i> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @<span>SMVDU,Katra </span> || Designed and developed by <span>Rahul Mahajan & Anmol Gupta</span></p>
            </div>
        </div>
    </div>
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->   

      
      <!-- Custom js -->
      <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5dd1320c43be710e1d1db019/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script> -->
  <!--End of Tawk.to Script-->
</body>
</html>