body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #333;
    background-image: url("/images/mer_image/doodle.jpg");
    background-attachment: fixed;
  }
  
  /*-------------===================Reviews=========================-----------------------*/
  .start_ {
    font-weight: bolder;
    color: black;
  }
  .inner {
    padding: 1em;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
  }
  
  .rating {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
  }
  
  .rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em;
  }
  
  .rating-stars {
    font-size: 20px;
    color: #e3e3e3;
    margin-bottom: 0.5em;
  }
  .rating-stars .active {
    color: #737373;
  }
  
  .rating-users {
    font-size: 14px;
  }
  
  .histo {
    float: left;
    width: 50%;
    font-size: 13px;
  }
  
  .histo-star {
    float: left;
    padding: 3px;
  }
  
  .histo-rate {
    width: 100%;
    display: block;
    clear: both;
  }
  
  .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
  }
  
  .bar {
    padding: 4px;
    display: block;
  }
  
  #bar-five {
    width: 0;
    background-color: #9fc05a;
  }
  
  #bar-four {
    width: 0;
    background-color: #add633;
  }
  
  #bar-three {
    width: 0;
    background-color: #ffd834;
  }
  
  #bar-two {
    width: 0;
    background-color: #ffb234;
  }
  
  #bar-one {
    width: 0;
    background-color: #ff8b5a;
  }
  /*-------------=================== end reviewss=========================-----------------------*/
  
  .li {
    color: #aaaaaa;
    display: block;
    position: relative;
    float: left;
  }
  
  .li input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }
  .li:hover label {
    color: #153a5bad;
  }
  
  .li .check {
    display: block;
    position: absolute;
    border: 5px solid #153a5bad;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
  }
  
  .li:hover .check {
    border: 5px solid #143b5a;
  }
  
  .li .check::before {
    display: block;
    /* position: absolute; */
    content: "";
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    /* left: 5px; */
    margin: 2px 2px;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type="radio"]:checked ~ .check {
    border: 5px solid black;
  }
  
  input[type="radio"]:checked ~ .check::before {
    background: #143a5a;
  }
  
  input[type="radio"]:checked ~ label {
    color: #143a5a;
  }
  
  .pop {
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    border: none;
  }
  
  header {
    font-family: "Nunito", sans-serif;
    position: fixed;
    /*top: 0;
    left: 0;*/
    z-index: 111;
    width: 100%;
    height: 50px;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
  }
  
  header h1 {
    font-family: "Nunito", sans-serif;
    margin: 0;
    /* padding: 0 15px; */
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 18px;
    float: left;
  }
  .upload-btn-wrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .btn-primary {
    cursor: pointer;
  }
  
  .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .img_demo {
    width: 200px;
    height: 150px;
  }
  
  @media (min-width: 768px) {
    .ul {
      display: inline block;
      list-style: none;
      margin: 0;
      padding: 0px 15px;
      overflow: auto;
    }
    .happy {
      cursor: pointer;
      font-size: 18px;
      padding-top: 12px;
      margin-left: 48px;
    }
    .x2 {
      font-family: "Nunito", sans-serif;
      padding: 10px 50px;
    }
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .x1 input {
    font-family: "Nunito", sans-serif;
    box-shadow: none;
    border-width: 0 0 3px 0;
    border-color: #3e4961;
    border-radius: 0px;
  }
  .x1 select {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #9d9d9d;
    box-shadow: none;
    border-width: 0 0 3px 0;
    border-color: #3e4961;
    border-radius: 0px;
  }
  .form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .form-group {
    position: relative;
    border: none;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    color: #337ab7;
    transform: translate3d(0, -80%, 0);
    opacity: 1;
  }
  
  /* Small devices (tablets)
  ==========================*/
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 3px solid #2386c7;
  }
  .tab1 button:hover {
    border-bottom: 3px solid #2386c7;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    color: black;
    border-radius: 2px;
    border-bottom: 3px solid #2386c7;
  }
  .tab1 button.active {
    color: black;
    border-radius: 2px;
    border-bottom: 3px solid #2386c7;
  }
  .menu .menu--item a.active {
    margin: 0px 0px;
    background-color: #0a629832;
  }
  .menu .menu--item a:hover {
    color: white;
    margin: 0px 0px;
    background-color: #0a629832;
  }
  .menu .menu--item a:focus {
    color: white;
  }
  /* Style the tab content */
  
  .used_btn {
    font-family: "Nunito", sans-serif;
    margin: -2px 6px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
    padding: 0px 10px;
  }
  .used_btn:hover {
    border: 3px solid #0a6298;
    color: white;
    background-color: #0a6298;
  }
  .used_status {
    margin: 0px 6px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
  }
  .used_status_pending {
    margin: 0px 6px;
    border: 3px solid rgb(0, 182, 0);
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 182, 0);
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
  }
  .coupons_list {
    margin-top: 50px;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .coupons_list1 {
    margin-top: 50px;
    padding: 0px 10px;
    width: 100%;
  }
  .keywords {
    display: inline-block;
    margin: 5px 6px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 15px;
  }
  
  .card .status {
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 182, 0);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px;
  }
  .card .status_approved {
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 179, 255);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px;
  }
  .card .status_rejected {
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px;
  }
  
  .card:hover {
    box-shadow: 2px 2px 7px 2px rgb(0, 0, 0);
  }
  .card-body {
    background: #ffffff;
  }
  
  .card-footer {
    background: #000000;
    color: #ffffff;
    font-weight: 900;
    padding: 10px;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }
  
  .card-header {
    border-radius: 30px !important;
    border: 0px;
    color: black;
    background: #ffffff;
  }
  .card-icon {
    font-size: 18px;
    color: #3f9ec7;
    font-weight: 900;
  }
  .card .timing {
    padding-left: 15px;
    font-family: "Bangers", cursive;
    color: rgba(0, 0, 0, 0.741);
    font-weight: 800;
  }
  .card-header img {
    border-radius: 15px;
    width: 100%;
    height: 170px;
  }
  .card .coup_text {
    padding: 10px;
  }
  
  .card .precent {
    font-size: 25px;
  }
  .card .coup_name {
    font-family: "Nunito", sans-serif;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
  }
  
  .modal {
    z-index: 11111111111111111111;
  }
  
  .profile_box {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  .c_code {
    font-weight: 900;
    color: black;
  }
  .profile_box i {
    color: #337ab7;
  }
  .open_time {
    font-family: "Bangers", cursive;
    font-size: 14px;
  }
  .close_time {
    font-family: "Bangers", cursive;
    font-size: 14px;
  }
  .dp_customer {
    width: 50px;
    height: 50px;
    background: white;
    padding: 5px;
    border-radius: 25px;
  }
  .store i {
    color: #337ab7;
  }
  
  @media (min-width: 769px) {
    .container1 {
      position: fixed;
      font-family: "Nunito", sans-serif;
      width: 28%;
      margin-top: 20px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
    }
    .hr_b {
      width: 80%;
      border-bottom: 1px solid rgb(221, 221, 221);
    }
    .rating-stars1 {
      font-size: 18px;
      color: #e3e3e3;
    }
    .rating-stars1 .active {
      color: #737373;
    }
    .rev_name {
      font-family: "Nunito", sans-serif;
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
    .rev_comment {
      padding-top: -8px;
      font-family: "Nunito", sans-serif;
      font-size: 16px;
    }
  
    .gallery {
      margin-top: 40px;
      margin-right: 20px;
    }
    .mob_b {
      margin-top: 25px;
      float: right;
      margin-right: 15px;
    }
  
    .des1 {
      width: 100%;
      height: 250px;
      margin-left: 20px;
    }
    .pro_image {
      border-radius: 10px;
      width: 100%;
      height: 300px;
    }
    .Schedule_table {
      width: 70%;
    }
    .pro_schedule {
      font-size: 18px;
    }
    .store {
      font-size: 18px;
    }
  
    .profile_box2,
    .profile_box3 {
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
    }
    .profile_name,
    .profile_name1 {
      font-size: 30px;
      font-weight: 600;
    }
    .profile_address {
      font-size: 20px;
      font-weight: 600;
    }
  
    .profile_website {
      font-size: 17px;
      font-weight: 600;
    }
  
    .profile_phone {
      font-size: 17px;
      font-weight: 600;
    }
    .pro_phone,
    .pro_email {
      color: #337ab7;
    }
    .profile_email {
      font-size: 17px;
      font-weight: 600;
    }
  
    .profile_year {
      font-size: 17px;
      font-weight: 600;
    }
    .profile_type {
      font-size: 17px;
      font-weight: 600;
    }
    .hr_1 {
      margin-top: -16px;
      width: 5%;
      margin-right: 95%;
      border-top: 5px solid #337ab7;
    }
    .hr_2,
    .hr_3 {
      margin-top: -16px;
      width: 10%;
      margin-right: 90%;
      border-top: 5px solid #337ab7;
    }
    .profile_address1 {
      font-size: 18px;
    }
    .profile_card {
      font-family: "Nunito", sans-serif;
      padding: 80px 40px;
    }
    .card .qty {
      position: absolute;
      width: 80px;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: bolder;
      padding: 5px 10px;
      margin: 150px 10px 0px 11%;
    }
    .card {
      font-family: "Nunito", sans-serif;
      width: 22%;
      margin: 15px;
      line-height: 1.1em;
      box-shadow: 2px 2px 7px rgb(0, 0, 0);
      border-radius: 15px;
      background: #ffffff;
    }
    .create {
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .wrapper {
      /*margin-top: 50px;*/
      padding: 15px 30px;
      transition: all 0.3s ease-out;
    }
    .tab,
    .tab1 {
      font-family: "Nunito", sans-serif;
      position: fixed;
      display: inline-block;
      padding-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      width: 84%;
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    }
    .tab100 {
      position: relative;
      z-index: 110;
    }
    .tab1 button {
      background-color: white;
      color: rgba(78, 78, 78, 0.714);
      width: 15%;
      padding: 10px 20px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 14px;
      font-weight: 700;
    }
    .tab button {
      background-color: white;
      color: rgba(78, 78, 78, 0.714);
      width: 15%;
      padding: 10px 20px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 14px;
      font-weight: 700;
    }
    .tabcontent {
      margin: 74px 30px 30px 40px;
      width: 95%;
      border-left: none;
    }
    .tabcontent22 {
      margin: 74px 0px 0px 0px;
      width: 95%;
      border-left: none;
    }
    .tabcontent2 {
      margin: 80px 30px 30px 40px;
      width: 95%;
      border-left: none;
    }
    .search_ {
      float: right !important;
      margin-top: -6px;
    }
    .form-group1 {
      float: right !important;
      margin-top: -6px;
    }
    .table {
      font-family: "Nunito", sans-serif;
      padding: 10px;
      color: rgb(15, 15, 15);
      background: #ffffffc7;
      border-radius: 10px;
      width: 90%;
    }
    .table th {
      color: rgb(49, 49, 49);
      font-size: 13px;
      border-bottom: 1px solid #dddddd;
      padding: 15px 0px;
    }
  
    .table td,
    .table tr {
      font-size: 13px;
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 15px 0px;
    }
    .modal-body {
      margin: 0px 10px;
    }
    .modal-body p {
      font-size: 16px;
      padding-top: 10px;
    }
    .pop1 {
      padding: 0px 20px;
    }
  }
  
  @media (max-width: 768px) {
    .ul {
      display: inline block;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
    }
    .happy {
      cursor: pointer;
      font-size: 15px;
      padding-top: 15px;
      margin-left: 48px;
    }
    .modal-body {
      margin: 0px 10px;
    }
    .modal-body p {
      font-size: 18px;
      padding-top: 19px;
    }
    .container1 {
      font-family: "Nunito", sans-serif;
      width: 100%;
      margin-top: 20px;
    }
    .hr_b {
      border-bottom: 1px solid rgb(221, 221, 221);
    }
    .rating-stars1 {
      font-size: 15px;
      color: #e3e3e3;
      margin-top: -5px;
    }
    .rating-stars1 .active {
      color: #737373;
    }
    .rev_name {
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: black;
    }
    .rev_comment {
      padding-top: -8px;
      font-family: "Nunito", sans-serif;
      font-size: 14px;
    }
  
    .left {
      order: 2;
    }
  
    .right {
      order: 1;
    }
    .gallery {
      margin-top: 50px;
      margin-right: 20px;
    }
    .mob_b {
      margin-left: 60%;
      /* margin-right: 50px; */
    }
    .pro_image {
      border-radius: 10px;
      width: 100%;
      height: 200px;
    }
    .mob1 {
      padding: 5px 0px;
    }
    .Schedule_table {
      width: 100%;
    }
    .pro_schedule {
      font-size: 18px;
    }
    .store {
      font-size: 18px;
    }
    .profile_name {
      font-size: 30px;
      font-weight: 600;
    }
    .profile_name1 {
      padding-left: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    .profile_address {
      font-size: 18px;
      font-weight: 600;
    }
  
    .profile_website {
      font-size: 16px;
      font-weight: 600;
    }
  
    .profile_phone {
      font-size: 16px;
      font-weight: 600;
    }
    .pro_phone,
    .pro_email {
      color: #337ab7;
    }
    .profile_email {
      font-size: 16px;
      font-weight: 600;
    }
  
    .profile_year {
      font-size: 16px;
      font-weight: 600;
    }
    .profile_type {
      font-size: 16px;
      font-weight: 600;
    }
    .hr_1 {
      margin-top: -16px;
      width: 20%;
      margin-right: 80%;
      border-top: 5px solid #337ab7;
    }
    .hr_2 {
      margin-top: -16px;
      width: 20%;
      margin-right: 80%;
      border-top: 5px solid #337ab7;
    }
    .hr_3 {
      margin-top: -16px;
      width: 20%;
      margin-right: 77%;
      border-top: 5px solid #337ab7;
    }
    .profile_address1 {
      font-size: 16px;
    }
    .des {
      display: none;
    }
    .profile_box {
      margin: 30px 20px;
      padding: 5px 0px;
      border-radius: 10px;
      background-color: white;
      margin-top: -20px;
    }
  
    .profile_box2 {
      margin: 30px 20px;
      padding: 5px 0px;
      border-radius: 10px;
      background-color: white;
      margin-top: -5px;
    }
    .profile_box3 {
      margin: 30px 0px;
      padding: 5px 0px;
      border-radius: 10px;
      background-color: white;
      margin-top: -5px;
    }
    .profile_card {
      font-family: "Nunito", sans-serif;
      padding: 80px 15px 3px 15px;
    }
    .card .qty {
      position: absolute;
      width: 80px;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      font-size: 13px;
      font-weight: 900;
      padding: 5px 10px;
      margin: 148px 10px 0px 10px;
    }
    .card {
      font-family: "Nunito", sans-serif;
      width: 100%;
      margin: 15px;
      line-height: 1.1em;
      box-shadow: 2px 2px 7px rgb(0, 0, 0);
      border-radius: 15px;
      background: #ffffff;
    }
  
    .tab {
      text-align: center;
      position: fixed;
      display: inline-block;
      margin-top: 20px;
      padding: 15px 30px 0px 30px;
      width: 100%;
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    }
    .tab1 {
      z-index: 109;
      position: fixed;
      display: inline-block;
      margin-top: 20px;
      padding: 15px 5px 0px 5px;
      width: 100%;
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    }
    .tab1 button {
      background-color: white;
      color: rgba(78, 78, 78, 0.714);
      width: 24%;
      padding: 10px 0px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 14px;
      font-weight: 700;
    }
    .tab button {
      background-color: white;
      color: rgba(78, 78, 78, 0.714);
      width: 30%;
      padding: 10px 0px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 14px;
      font-weight: 700;
    }
    .tabcontent {
      margin: 154px 30px 30px 15px;
      width: 100%;
      border-left: none;
    }
    .tabcontent22 {
      margin: 154px 30px 30px 15px;
      width: 100%;
      border-left: none;
    }
    .tabcontent2 {
      margin: 97px 0px -5px -10px;
      padding: 0px 0px 0px 20px;
      width: 100%;
      border-left: none;
    }
    .form-group {
      margin-top: 10px;
    }
    .form-group1 {
      margin: 0px 30px;
      margin-top: 10px;
    }
    .table {
      font-family: "Nunito", sans-serif;
      background: #ffffffc7;
      color: rgb(15, 15, 15);
      border-radius: 10px;
      width: 90%;
    }
    .table th {
      color: rgb(49, 49, 49);
      font-size: 10px;
      border-bottom: 1px solid #dddddd;
      padding: 15px 0px;
    }
  
    .table td,
    .table tr {
      font-size: 10px;
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 15px 0px;
    }
  }
  /* Medium devices (desktops)
  ==========================*/
  @media (min-width: 992px) {
    body {
      overflow-y: scroll;
    }
  
    .logo img {
      width: 200px;
      text-align: center;
      margin-top: 10px;
      float: none;
    }
  
    .wrapper {
      margin-left: 130px;
    }
  
    .wrapper__minify {
      margin-left: 50px;
    }
  }
  .slideadmin {
    margin-top: 30px;
  }
  .slideadmin button {
    float: right;
    padding: 7px 19px;
    color: white;
    border: #227ab3;
    background-color: #227ab3;
    margin: 0px 10px;
    border-radius: 5px;
  }
  .slideadmin .edit {
    background-color: #f63;
    border: #f63;
  }
  .slideadmin h3.head {
    float: left;
    color: #333333;
    font-weight: 600;
    margin-left: 30%;
  }
  .scrollfixed1 {
    position: relative;
    scrollbar-base-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow-x: scroll;
    width: 70%;
    margin-left: 30%;
    scrollbar-width: none;
  }
  .scrollfixed1::-webkit-overflow-scrolling {
    display: none;
  }
  .scrollfixed1::-moz-scrollbars {
    width: 0;
  }
  .scrollfixed1::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent;
  }
  .slideshowcardUpper {
    display: inline-flex;
    transition: all 0.4s;
    min-width: 100%;
  }
  .slideshowcardUpper .adminslideimage {
    margin-left: 10px;
    width: 300px;
    height: 300px;
  }
  .slideshowcardUpper .adminslideimage img {
    width: 100%;
  }
  .moveRight {
    background-color: white;
    position: absolute;
    display: flex;
    height: 100px;
    cursor: pointer;
    align-items: center;
    margin-top: -300px;
    right: 4%;
    border: 1px solid #69696947;
  }
  .moveRight .i {
    font-size: 1.5rem;
    color: #333333;
    margin: auto 15px;
  }
  .uploadImagepop {
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 14;
    transform: scale(0);
    transition: all 0.5s;
    background-color: rgb(0, 0, 0, 0.5);
  }
  .innerUpload {
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 10px 20px 40px 20px;
    display: flex;
    background-color: white;
    margin-left: 20%;
    flex-direction: column;
    margin-top: 50px;
  }
  @media screen and (max-width: 600px) {
    .innerUpload {
      width: 300px;
      margin-left: 30px;
    }
  }
  .innerUpload div {
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  .innerUpload .upimg {
    text-align: center;
  }
  .innerUpload .upimg input {
    display: none;
  }
  .innerUpload .upimg label {
    font-size: 1rem;
    background-color: #227ab3;
    color: white;
    padding: 8px 25px;
    border: 1px solid #227ab3;
    margin: 10px auto;
  }
  .innerUpload .heading h3 {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .innerUpload .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .innerUpload .btn button {
    background-color: #227ab3;
    color: white;
    border: none;
    padding: 8px 25px;
  }
  
  @media screen and (max-width: 600px) {
    .moveRight {
      display: none;
    }
    .slideshowcardUpper {
      overflow: scroll;
    }
    .slideadmin h3.head {
      margin-left: 10px;
    }
    .slideadmin button {
      margin-top: 16px;
    }
    .scrollfixed1 {
      width: 100%;
      margin-left: 0px;
    }
    .slideshowcardUpper {
      width: auto;
      position: absolute;
      height: auto;
    }
    .slideshowcardUpper .adminslideimage {
      width: 140px;
      height: auto;
    }
  }
  