<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fun Deal</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link
      href="/stylesheets/adminStyleSheets/gallery/dadmin1.css"
      rel="stylesheet"
    />
    <link href="/stylesheets/adminStyleSheets/dadmin1.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito|Rubik|Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      href="/stylesheets/adminStyleSheets/vertical-responsive-menu.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style></style>
  </head>

  <body>
    <!-----==============================header nav bar ===========================================-->
    <header class="header clearfix">
      
      <button type="button" id="toggleMenu" class="toggle_menu">
        <i id="toggleBar" class="fas fa-bars"></i>
      </button>

      <h1>Admin</h1>
      <div class="dropdown">
        <button class="dropbtn" id="new-shipping"><b>Admin &#11163;</b></button>
        <div
          class="dropdown-content"
          id="add-shipping-modal"
          style="display:none;"
        >
          <a href="/auth/logout" style="text-decoration: none;"
            ><b>
              Logout &nbsp;&nbsp;
              <i class="fas fa-sign-out-alt" style="font-size: px;"></i></b
          ></a>
        </div>
      </div>
      <img class="profile" src="/images/mer_image/images.png" />
      
    </header>
    <!-----==============================end header nav bar ===========================================-->
    <!-----==============================preloader preloader ===========================================-->

    <div class="preloading">
        <div class="preUpper">
          <img src="/images/preloadergif.gif" alt="Loading">
        </div>
    </div>
        <!-----==============================preloader preloader ===========================================-->

 
