body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
  background-image: url("/images/doodle.jpg");
  background-attachment: fixed;
}
body {
  scrollbar-face-color: #367cd2;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #ffffff;
}

/* Let's get this party started */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #337ab7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu {
  scrollbar-face-color: #367cd2;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #ffffff;
}

/* Let's get this party started */
.menu::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.menu::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #337ab7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*-------------===================Reviews=========================-----------------------*/
.start_ {
  font-weight: bolder;
  color: black;
}
.inner {
  padding: 1em;
  background-color: white;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 10px;
}

.rating {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: center;
}

.rating-num {
  color: #333333;
  font-size: 72px;
  font-weight: 100;
  line-height: 1em;
}

.rating-stars {
  font-size: 20px;
  color: #e3e3e3;
  margin-bottom: 0.5em;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
}

.histo {
  float: left;
  width: 50%;
  font-size: 13px;
}

.histo-star {
  float: left;
  padding: 3px;
}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.bar-block {
  margin-left: 5px;
  color: black;
  display: block;
  float: left;
  width: 75%;
  position: relative;
}

.bar,
.bar1 {
  padding: 4px;
  display: block;
}

#bar-five,
#bar-five1 {
  width: 0;
  background-color: #9fc05a;
}

#bar-four,
#bar-four1 {
  width: 0;
  background-color: #add633;
}

#bar-three,
#bar-three1 {
  width: 0;
  background-color: #ffd834;
}

#bar-two,
#bar-two1 {
  width: 0;
  background-color: #ffb234;
}

#bar-one,
#bar-one1 {
  width: 0;
  background-color: #ff8b5a;
}
/*-------------=================== end reviewss=========================-----------------------*/

.tooltip1 {
  position: relative;
  text-align: center;
  background: #143a5a;
  display: inline-block;
  border: 1px solid #143a5a;
  color: white;
  font-size: larger;
  font-weight: 900;
  margin-top: 10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 180px;
    font-size: 13px;
    font-weight: 300;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1111;
    top: -5px;
    right: 110%;
  }

  .tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
}
@media screen and (min-width: 769px) {
  .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 180px;
    font-size: 13px;
    font-weight: 300;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1111;
    top: -5px;
    left: 110%;
  }

  .tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
}
.tooltip1:hover .tooltiptext {
  visibility: visible;
}

.li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
}

.li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
.li:hover label {
  color: #153a5bad;
}

.li .check {
  display: block;
  position: absolute;
  border: 5px solid #153a5bad;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.li:hover .check {
  border: 5px solid #143b5a;
}

.li .check::before {
  display: block;
  /* position: absolute; */
  content: "";
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: 0px;
  /* left: 5px; */
  margin: 2px 2px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid black;
}

input[type="radio"]:checked ~ .check::before {
  background: #143a5a;
}

input[type="radio"]:checked ~ label {
  color: #143a5a;
}

.pop {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  border: none;
}

header {
  font-family: "Nunito", sans-serif;
  position: fixed;
  /*top: 0;
  left: 0;*/
  z-index: 111;
  width: 100%;
  height: 50px;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}

header h1 {
  font-family: "Nunito", sans-serif;
  margin: 0;
  /* padding: 0 15px; */
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  font-size: 18px;
  float: left;
}
.upload-btn-wrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn-primary {
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.img_demo {
  width: 200px;
  height: 150px;
}
.img_demo1 {
  width: 150px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .ul {
    display: inline block;
    list-style: none;
    margin: 0;
    padding: 0px 15px;
    overflow: auto;
  }
  .happy {
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    padding-top: 12px;
    margin-left: 48px;
  }
  .x2 {
    font-family: "Nunito", sans-serif;
    padding: 10px 50px;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.x1 input {
  font-family: "Nunito", sans-serif;
  box-shadow: none;
  border-width: 0 0 3px 0;
  border-color: #3e4961;
  border-radius: 0px;
}
.x1 select {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #9d9d9d;
  box-shadow: none;
  border-width: 0 0 3px 0;
  border-color: #3e4961;
  border-radius: 0px;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-group {
  position: relative;
  border: none;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  color: #337ab7;
  transform: translate3d(0, -80%, 0);
  opacity: 1;
}

/* Small devices (tablets)
==========================*/
/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 3px solid #0a4398;
}
.tab1 button:hover {
  border-bottom: 3px solid #0a4398;
}
.tab11 button:hover {
  border-bottom: 3px solid #0a4398;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: black;
  border-radius: 2px;
  border-bottom: 3px solid #0a4398;
}
.tab1 button.active {
  color: black;
  border-radius: 2px;
  border-bottom: 3px solid #0a4398;
}
.tab11 button.active {
  color: black;
  border-radius: 2px;
  border-bottom: 3px solid #0a4398;
}
.menu .menu--item .active1 {
  margin: 0px 0px;
  background-color: #0262896e;
}
.menu .menu--item a:hover {
  color: white;
  margin: 0px 0px;
  background-color: #0a629832;
}
.menu .menu--item a:focus {
  color: white;
}
/* Style the tab content */

.used_btn {
  font-family: "Nunito", sans-serif;
  margin: -2px 6px;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-size: 13px;
  padding: 0px 10px;
}
.used_btn:hover {
  border: 3px solid #0a6298;
  color: white;
  background-color: #0a6298;
}
.used_status {
  margin: 0px 6px;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
  padding: 2px 10px;
}
.used_status_pending {
  margin: 0px 6px;
  border: 3px solid rgb(0, 182, 0);
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 182, 0);
  font-size: 13px;
  font-weight: 600;
  padding: 2px 10px;
}
.coupons_list {
  margin-top: 50px;
  padding: 0px 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.keywords {
  display: inline-block;
  margin: 5px 6px;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
  padding: 5px 15px;
}

.card .status {
  position: absolute;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 182, 0);
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px;
}
.card .status_approved {
  position: absolute;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 179, 255);
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px;
}
.card .status_rejected {
  position: absolute;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 0, 0);
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px;
}

.card:hover {
  box-shadow: 2px 2px 7px 2px rgb(0, 0, 0);
}
.card-body {
  background: #ffffff;
}

.card-footer {
  background: #000000;
  color: #ffffff;
  font-weight: 900;
  padding: 10px;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.card-header {
  border-radius: 30px !important;
  border: 0px;
  color: black;
  background: #ffffff;
}
.card-icon {
  font-size: 18px;
  color: #3f9ec7;
  font-weight: 900;
}
.card .timing {
  padding-left: 15px;
  font-family: "Bangers", cursive;
  color: rgba(0, 0, 0, 0.741);
  font-weight: 800;
}
.card-header img {
  border-radius: 15px;
  width: 100%;
  height: 170px;
}
.card .coup_text {
  padding: 10px;
}

.card .precent {
  font-size: 25px;
}
.card .coup_name {
  font-family: "Nunito", sans-serif;
  padding: 5px 3px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 700;
}

.modal {
  z-index: 11111111111111111111;
}

.profile_box {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.c_code {
  font-weight: 900;
  color: black;
}
.profile_box i {
  color: #337ab7;
}
.open_time {
  font-family: "Bangers", cursive;
  font-size: 17px;
  font-weight: 900;
}
.close_time {
  font-family: "Bangers", cursive;
  font-size: 14px;
}
.dp_customer {
  width: 50px;
  height: 50px;
  background: white;
  padding: 5px;
  border-radius: 25px;
}
.store i {
  color: #337ab7;
}
.logoupload {
  margin: 30px auto 0px auto;
  text-align: center;
}
.logoupload .i {
  margin-right: 10px;
  color: #3e4961;
}
.logoupload input {
  display: none;
}
.logoupload label {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid #3e4961;
  color: #3e4961;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .navbar2 {
    overflow: hidden;
    position: fixed;
    bottom: 11%;
    right: 8px;
    width: 100%;
  }

  .pop1 {
    padding-right: 18px;
  }
  .margin-l_0 {
    padding-left: 0px;
  }
  .container1 {
    position: fixed;
    font-family: "Nunito", sans-serif;
    width: 28%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  .hr_b {
    width: 80%;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .rating-stars1 {
    font-size: 15px;
    color: #e3e3e3;
  }
  .rating-stars1 .active {
    color: #737373;
  }
  .rev_name {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #212121;
  }
  .rev_comment {
    padding-top: -8px;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
  }

  .gallery {
    margin-top: 40px;
    margin-right: 20px;
  }
  .mob_b {
    margin-top: 25px;
    float: right;
    margin-right: 15px;
  }

  .des1 {
    width: 100%;
    height: 250px;
    margin-left: 20px;
  }
  .pro_image {
    border-radius: 10px;
    width: 100%;
    height: 300px;
  }
  .Schedule_table {
    width: 70%;
  }
  .pro_schedule {
    font-size: 18px;
  }
  .store {
    font-size: 18px;
  }

  .profile_box2,
  .profile_box3 {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  .profile_name,
  .profile_name1 {
    font-size: 30px;
    font-weight: 600;
  }
  .profile_address {
    font-size: 20px;
    font-weight: 600;
  }

  .profile_website {
    font-size: 17px;
    font-weight: 600;
  }

  .profile_phone {
    font-size: 17px;
    font-weight: 600;
  }
  .pro_phone,
  .pro_email {
    color: #337ab7;
  }
  .profile_email {
    font-size: 17px;
    font-weight: 600;
  }

  .profile_year {
    font-size: 17px;
    font-weight: 600;
  }
  .profile_type {
    font-size: 17px;
    font-weight: 600;
  }
  .hr_1 {
    margin-top: -16px;
    width: 5%;
    margin-right: 95%;
    border-top: 5px solid #337ab7;
  }
  .hr_2,
  .hr_3 {
    margin-top: -16px;
    width: 10%;
    margin-right: 90%;
    border-top: 5px solid #337ab7;
  }
  .profile_address1 {
    font-size: 18px;
  }
  .profile_card {
    font-family: "Nunito", sans-serif;
    padding: 80px 40px;
  }
  .card .qty {
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bolder;
    padding: 5px 10px;
    margin: 150px 10px 0px 11%;
  }
  .card {
    font-family: "Nunito", sans-serif;
    width: 22%;
    margin: 15px;
    line-height: 1.1em;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    border-radius: 15px;
    background: #ffffff;
  }
  .create {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .wrapper {
    /*margin-top: 50px;*/
    padding: 15px 30px;
    transition: all 0.3s ease-out;
  }
  .tab,
  .tab1,
  .tab11 {
    font-family: "Nunito", sans-serif;
    position: fixed;
    display: inline-block;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 84%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    z-index: 109;
  }
  .tab100 {
    position: relative;
    z-index: 110;
  }
  .tab1 button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 15%;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tab11 button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 15%;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tab button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 15%;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tabcontent {
    margin: 74px 30px 30px 40px;
    width: 95%;
    border-left: none;
  }
  .tabcontent3 {
    margin: 74px 10px 10px 10px;
    width: 95%;
    border-left: none;
  }
  .tabcontent2 {
    margin: 80px 30px 30px 40px;
    width: 95%;
    border-left: none;
  }
  .search_ {
    float: right !important;
    margin-top: -6px;
  }
  .form-group1 {
    float: right !important;
    margin-top: -6px;
  }
  .table {
    font-family: "Nunito", sans-serif;
    padding: 10px;
    color: rgb(15, 15, 15);
    background: #ffffffc7;
    border-radius: 10px;
    width: 90%;
  }
  .table th {
    color: rgb(49, 49, 49);
    font-size: 13px;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0px;
  }

  .table td,
  .table tr {
    font-size: 13px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 15px 0px;
  }
  .modal-body {
    margin: 0px 10px;
  }
  .modal-body p {
    font-size: 16px;
    padding-top: 10px;
  }
  .pop1 {
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .navbar2 {
    overflow: hidden;
    position: fixed;
    bottom: 23%;
    right: 8px;
    width: 100%;
  }
  .pp {
    padding-bottom: 9px;
  }
  .navbar1 {
    overflow: hidden;
    background-color: #062638;
    position: fixed;
    bottom: 0%;
    padding: 9px 9px 0px 9px;
    width: 100%;
  }

  .ul {
    display: inline block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  .happy {
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    padding-top: 15px;
    margin-left: 48px;
  }
  .modal-body {
    margin: 0px 10px;
  }
  .modal-body p {
    font-size: 18px;
    padding-top: 19px;
  }
  .container1 {
    font-family: "Nunito", sans-serif;
    width: 100%;
    margin-top: 20px;
  }
  .hr_b {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .rating-stars1 {
    font-size: 15px;
    color: #e3e3e3;
    margin-top: -5px;
  }
  .rating-stars1 .active {
    color: #737373;
  }
  .rev_name {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  .rev_comment {
    padding-top: -8px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
  }

  .left {
    order: 2;
  }

  .right {
    order: 1;
  }
  .gallery {
    margin-top: 50px;
    margin-right: 20px;
  }
  .mob_b {
    margin-left: 60%;
    /* margin-right: 50px; */
  }
  .pro_image {
    border-radius: 10px;
    width: 100%;
    height: 200px;
  }
  .mob1 {
    padding: 5px 0px;
  }
  .Schedule_table {
    width: 100%;
  }
  .pro_schedule {
    font-size: 18px;
  }
  .store {
    font-size: 18px;
  }
  .profile_name {
    font-size: 30px;
    font-weight: 600;
  }
  .profile_name1 {
    padding-left: 10px;
    font-size: 30px;
    font-weight: 600;
  }
  .profile_address {
    font-size: 18px;
    font-weight: 600;
  }

  .profile_website {
    font-size: 16px;
    font-weight: 600;
  }

  .profile_phone {
    font-size: 16px;
    font-weight: 600;
  }
  .pro_phone,
  .pro_email {
    color: #337ab7;
  }
  .profile_email {
    font-size: 16px;
    font-weight: 600;
  }

  .profile_year {
    font-size: 16px;
    font-weight: 600;
  }
  .profile_type {
    font-size: 16px;
    font-weight: 600;
  }
  .hr_1 {
    margin-top: -16px;
    width: 20%;
    margin-right: 80%;
    border-top: 5px solid #337ab7;
  }
  .hr_2 {
    margin-top: -16px;
    width: 20%;
    margin-right: 80%;
    border-top: 5px solid #337ab7;
  }
  .hr_3 {
    margin-top: -16px;
    width: 20%;
    margin-right: 77%;
    border-top: 5px solid #337ab7;
  }
  .profile_address1 {
    font-size: 16px;
  }
  .des {
    display: none;
  }
  .profile_box {
    margin: 30px 20px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: white;
    margin-top: -20px;
  }

  .profile_box2 {
    margin: 30px 20px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: white;
    margin-top: -5px;
  }
  .profile_box3 {
    margin: 30px 0px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: white;
    margin-top: -5px;
  }
  .profile_card {
    font-family: "Nunito", sans-serif;
    padding: 80px 15px 3px 15px;
  }
  .card .qty {
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 900;
    padding: 5px 10px;
    margin: 148px 10px 0px 10px;
  }
  .card {
    font-family: "Nunito", sans-serif;
    width: 100%;
    margin: 15px;
    line-height: 1.1em;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    border-radius: 15px;
    background: #ffffff;
  }

  .tab {
    text-align: center;
    position: fixed;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px 0px 30px;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
  }
  .tab1 {
    z-index: 109;
    position: fixed;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 5px 0px 5px;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
  }
  .tab11 {
    z-index: 109;
    position: fixed;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 5px 0px 5px;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
  }
  .tab1 button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 24%;
    padding: 10px 0px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tab11 button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 45%;
    padding: 10px 0px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tab button {
    background-color: white;
    color: rgba(78, 78, 78, 0.714);
    width: 30%;
    padding: 10px 0px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
  }
  .tabcontent {
    margin: 154px 30px 30px 15px;
    width: 100%;
    border-left: none;
  }
  .tabcontent3 {
    margin: 154px 0px 0px 0px;
    width: 100%;
    border-left: none;
    z-index: 00;
  }
  .tabcontent2 {
    margin: 97px 0px -5px -10px;
    padding: 0px 0px 0px 20px;
    width: 100%;
    border-left: none;
  }
  .form-group {
    margin-top: 10px;
  }
  .form-group1 {
    margin: 0px 30px;
    margin-top: 10px;
  }
  .table {
    font-family: "Nunito", sans-serif;
    background: #ffffffc7;
    color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 90%;
  }
  .table th {
    color: rgb(49, 49, 49);
    font-size: 10px;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0px;
  }

  .table td,
  .table tr {
    font-size: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 15px 0px;
  }
  .gallery_img {
    margin-bottom: 10px;
    border-radius: 6px;
    width: 100%;
    height: 200px;
  }
  .md-t {
    margin-top: 100px;
  }
  .coupon_name_r {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(82, 82, 82);
    margin-left: -10px;
  }
  .hr__ {
    border-bottom: 3px solid #0a4398;
    width: 90%;
    margin-right: 20%;
    margin-top: -6px;
    margin-left: -10px;
  }
}
/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  .navbar1 {
    overflow: hidden;
    background-color: #062638;
    position: fixed;
    bottom: 0%;
    padding: 15px 15px 0px 15px;
    left: 135px;
    width: 98%;
  }
  .cop_rev_name {
    color: black;
  }
  .coupon_name_r {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(82, 82, 82);
  }
  .hr__ {
    border-bottom: 3px solid #0a4398;
    width: 50%;
    margin-right: 50%;
    margin-top: -6px;
  }
  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 130px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }
  .gallery_img {
    margin-bottom: 10px;
    border-radius: 6px;
    width: 100%;
    height: 200px;
  }
  .md-t {
    margin-top: 120px;
  }
}
.timing_1 {
  font-size: 18px;
  font-weight: 900;
}
.hr_timing_1 {
  border-top: 4px solid #337ab7;
  width: 20%;
  margin-left: -0%;
  margin-top: -10px;
}
@media (max-width: 768px) {
  .timing_1 {
    margin-top: 20px;
    line-height: 1.3em;
  }
  .popp {
    line-height: 1em;
  }
  .tabcontent00 {
    margin: 105px 29px 22px 10px;
    width: 150%;
    border-left: none;
  }
}
@media (min-width: 768px) {
  .tabcontent00 {
    margin: 74px 30px 30px 40px;
    width: 95%;
    border-left: none;
  }
}
.link {
  cursor: pointer;
}
.nor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes blink {
  0% {
      box-shadow: 2px 5px 20px red;
  }

  50% {
      box-shadow: 0 0 0;
  }

  100% {
    box-shadow: 2px 5px 20px red;
  }
}

@-webkit-keyframes blink {
  0% {
    box-shadow: 2px 5px 20px red;
  }

  50% {
      box-shadow: 0 0 0;
  }

  100% {
    box-shadow: 2px 5px 20px red;
  }
}

.blink {
  -webkit-animation: blink 0.9s linear infinite;
  -moz-animation: blink 0.9s linear infinite;
  -ms-animation: blink 0.9s linear infinite;
  -o-animation: blink 0.9s linear infinite;
  animation: blink 0.9s linear infinite;
}
